<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$navigators = $this->getMainMenu();
?>


<!-- <nav class="navbar navbar-expand-md navbar-light"> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <?php foreach ($navigators as $navigator): ?>
                        <li class="nav-item">
                            <a class="nav-link" href="<?php echo $navigator->getLink(); ?>" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown"><?php echo $navigator->getName(); ?></a>
                            <?php $content = $block->filterOutputHtml($navigator->getContent());
                            if($content):?>
                                
                                     <?php echo $content;?>                                  
                                
                            <?php endif;?>
                        </li>
                <?php endforeach; ?>
            <!-- </ul>
        </div> -->
<!-- </nav> -->
<script type="text/javascript"> 

    require(['jquery'],function($)
    { 
        $(document).ready(function()
        {
            $(".nav-item").hover(function()
            {
                $(this).toggleClass("open");
                
            });
        });  
    });  
</script>