<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();
?>
<?php if ($_additional = $block->getAdditionalData()): ?>
    <div class="product_blk_detail width-100 brdr">
        <h2 class="h2_detail">Listing Details</h2>
        <div class="block_product_detail"> <span>Status</span> <span>Active</span> </div>
        <div class="block_product_detail"> <span>Package</span> <span>Guaranteed</span> </div>
        <?php foreach ($_additional as $_data): ?>  
            <?php if ($_data['label']=="Created Date" || $_data['label']=="Expiring Date"): ?>
                <div class="block_product_detail"> <span><?= ($_data['label']) ?></span> <span><?= ($_data['value']) ?></span> </div>
            <?php endif;?>
        <?php endforeach; ?>
    </div>
<?php endif;?>
