<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Address\Edit $block */
?>
<?php $_company = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Company') ?>
<?php $_telephone = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Telephone') ?>
<?php $_fax = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Fax') ?>
<div class="container-fluid no-gutters-pd mb-5">
    <div class="container">
        <div class="recent_order row mt-5">
            <div class="col-12">
            <h2>Edit Address</h2>
            </div>
        </div>
        <form class="form-address-edit"
            action="<?= $block->escapeUrl($block->getSaveUrl()) ?>"
            method="post"
            id="form-validate"
            enctype="multipart/form-data"
            data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
            <div class="row login_pg justify-content-between">
                <div class="col-12 col-md-8">
                    <fieldset class="fieldset">
                    <div class="row">
                        <div class="col-12">
                        <h2>Contact Information</h2> 
                        </div>
                    </div>
                        <?= $block->getBlockHtml('formkey') ?>
                        <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
                        <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
                        <?= $block->getNameBlockHtml() ?>

                        <?php if ($_company->isEnabled()): ?>
                            <?= $_company->setCompany($block->getAddress()->getCompany())->toHtml() ?>
                        <?php endif ?>

                        <?php if ($_telephone->isEnabled()): ?>
                            <?= $_telephone->setTelephone($block->getAddress()->getTelephone())->toHtml() ?>
                        <?php endif ?>

                        <?php if ($_fax->isEnabled()): ?>
                            <?= $_fax->setFax($block->getAddress()->getFax())->toHtml() ?>
                        <?php endif ?>

                    </fieldset>
                    <fieldset class="fieldset">
                        <h2>Address</h2>
                        <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>
                        <div class="field street required">
                            <label for="name">Street Address <span>*</span> </label>
                            
                                <input type="name"
                                    name="street[]"
                                    value="<?= $block->escapeHtmlAttr($block->getStreetLine(1)) ?>"
                                    title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?>"
                                    id="street_1"
                                    class="form-control <?= $block->escapeHtmlAttr($_streetValidationClass) ?>"/>
                                <div class="nested">
                                    <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                                    <?php for ($_i = 1, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i < $_n; $_i++): ?>
                                        <div class="field additional">
                                            <label class="label" for="street_<?= /* @noEscape */ $_i + 1 ?>">
                                                <span><?= $block->escapeHtml(__('Street Address %1', $_i + 1)) ?></span>
                                            </label>
                                            
                                                <input type="name" name="street[]"
                                                    value="<?= $block->escapeHtmlAttr($block->getStreetLine($_i + 1)) ?>"
                                                    title="<?= $block->escapeHtmlAttr(__('Street Address %1', $_i + 1)) ?>"
                                                    id="street_<?= /* @noEscape */ $_i + 1 ?>"
                                                    class="form-control <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                                            
                                        </div>
                                    <?php endfor; ?>
                                </div>
                            
                        </div>

                        <?php if ($this->helper('Magento\Customer\Helper\Address')->isVatAttributeVisible()) : ?>
                            <div class="field taxvat">
                                <label class="label" for="vat_id">
                                    <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('vat_id') ?></span>
                                </label>
                                <div class="control">
                                    <input type="text"
                                        name="vat_id"
                                        value="<?= $block->escapeHtmlAttr($block->getAddress()->getVatId()) ?>"
                                        title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('vat_id') ?>"
                                        class="input-text <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('vat_id')) ?>"
                                        id="vat_id">
                                </div>
                            </div>
                        <?php endif; ?>
                        <div class="field city required">
                            <label for="name">City <span>*</span> </label>                            
                                <input type="name"
                                    name="city"
                                    value="<?= $block->escapeHtmlAttr($block->getAddress()->getCity()) ?>"
                                    title="<?= $block->escapeHtmlAttr(__('City')) ?>"
                                    class="form-control <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city')) ?>"
                                    id="city">
                            
                        </div>
                        <div class="field region required">
                            <label for="region_id">
                                <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?></span>
                            </label>
                            
                                <select id="region_id" name="region_id"
                                        title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>"
                                        class="validate-select" <?= /* @noEscape */ !$block->getConfig('general/region/display_all') ? ' disabled="disabled"' : '' ?>>
                                    <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                                </select>
                                <input type="name"
                                    id="region"
                                    name="region"
                                    value="<?= $block->escapeHtmlAttr($block->getRegion()) ?>"
                                    title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>"
                                    class="form-control validate-not-number-first <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region')) ?>"<?= !$block->getConfig('general/region/display_all') ? ' disabled="disabled"' : '' ?>/>
                            
                        </div>
                        <div class="field zip required">
                            <label for="zip">
                                <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?></span>
                            </label>
                            
                                <input type="name"
                                    name="postcode"
                                    value="<?= $block->escapeHtmlAttr($block->getAddress()->getPostcode()) ?>"
                                    title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?>"
                                    id="zip"
                                    class="form-control validate-zip-international <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode')) ?>">
                
                        </div>
                        <div class="field country required">
                            <label for="country"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('country_id') ?></span></label>
                            
                                <?= $block->getCountryHtmlSelect() ?>
                            
                        </div>

                        <?php if ($block->isDefaultBilling()): ?>
                            <div class="message info">
                                <span><?= $block->escapeHtml(__("It's a default billing address.")) ?></span>
                            </div>
                        <?php elseif ($block->canSetAsDefaultBilling()): ?>
                            <div class="field choice set billing">
                                <input type="checkbox" id="primary_billing" name="default_billing" value="1" class="checkbox">
                                <label class="label" for="primary_billing">
                                    <span><?= $block->escapeHtml(__('Use as my default billing address')) ?></span>
                                </label>
                            </div>
                        <?php else: ?>
                            <input type="hidden" name="default_billing" value="1" />
                        <?php endif; ?>

                        <?php if ($block->isDefaultShipping()): ?>
                            <div class="message info">
                                <span><?= $block->escapeHtml(__("It's a default shipping address.")) ?></span>
                            </div>
                        <?php elseif ($block->canSetAsDefaultShipping()): ?>
                            <div class="field choice set shipping">
                                <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" class="checkbox">
                                <label class="label" for="primary_shipping">
                                    <span><?= $block->escapeHtml(__('Use as my default shipping address')) ?></span>
                                </label>
                            </div>
                        <?php else: ?>
                            <input type="hidden" name="default_shipping" value="1">
                        <?php endif; ?>
                    </fieldset>
                    <div class="form-group mt-2">
                        
                            <button type="submit"
                                    class="action save primary nxt_btn"
                                    data-action="save-address"
                                    title="<?= $block->escapeHtmlAttr(__('Save Address')) ?>">
                                <span><?= $block->escapeHtml(__('Save Address')) ?></span>
                            </button>
                        
                        <!-- <div class="secondary">
                            <a class="action back" href="</?= $block->escapeUrl($block->getBackUrl()) ?>">
                                <span></?= $block->escapeHtml(__('Go back')) ?></span>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "addressValidation": {}
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int) $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
