<!--@subject Booking from Horsemall @-->
 

        <b>Booking From Horsemall</b>
        <br>
        Customer Name: {{var name}} <br>
        Email :({{var email}}) <br>
        Booking Date :{{var date}} <br>
        Booking Details: {{var url}}
 
 
