<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $this->getToolbarBlock()->setHidePager(true)->toHtml();?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="row products wrapper <?= /* @escapeNotVerified */ $viewMode ?> products-<?= /* @escapeNotVerified */ $viewMode ?>">
        <ul class="product_listing listpage_pr">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
            <li>
                <div class="product-item-info" data-container="product-<?= /* @escapeNotVerified */ $viewMode ?>">
                <div class="products">
                    
                    <div class="row">
                        <div class="col-12">
                            <?php
                                $productImage = $block->getImage($_product, $imageDisplayArea);
                                if ($pos != null) {
                                    $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                        . 'top:' . $productImage->getHeight() . 'px;"';
                                }
                                ?>
                                
                                <?php $objectmanager = \Magento\Framework\App\ObjectManager::getInstance();
                                    $product_id = $_product->getId(); //Replace with your product ID
                                    $productimages = array();
                                    $product = $objectmanager ->create('Magento\Catalog\Model\Product')->load($product_id);
                                    $productimages = $product->getMediaGalleryImages();
                                    
                                    $videocount=0;
                                    $imagecount=0;
                                
                                    foreach($productimages as $productimage)
                                    {
                                        $imageData = $productimage->getData();
                                        if (isset($imageData['media_type']) && $imageData['media_type'] == 'external-video') {
                                            // Your code here
                                        $videocount++;}
                                        else{
                                            $imagecount++;
                                        }
                                    }
                                    $cityid = $product->getCity();
                                    $optionId = $cityid;
                                    $attribute = $_product->getResource()->getAttribute('city');
                                    if ($attribute->usesSource()) {
                                        $city = $attribute->getSource()->getOptionText($optionId);
                                    }
                                    
                                    
                                ?>
                                
                                <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                                    <?= $productImage->toHtml() ?>
                                </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">

                            <div class="product_list_info">
                            
                                <div class="row">
                                    <div class="col-12">
                                        <span>
                                            <a class="product-item-link"
                                            href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>">
                                                <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <span>BHD <?= round($_product->getPrice());?></span>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <div class="prv"> 
                                            <img src="<?php echo $this->getViewFileUrl('images/pics.jpg');?>" style="max-width: 20px;"/><?=$imagecount?>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <div class="prv"> 
                                                <img src="<?php echo $this->getViewFileUrl('images/video.jpg');?>" style="max-width: 20px;"/><?=$videocount?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                    
                </div>
            </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <?php echo $this->getToolbarBlock()->setHidePager(false)->toHtml();?>
    
<?php endif; ?>
<script type="text/javascript"> 
    require(['jquery'],function($){ 
        $(document).ready(function() {
        $(".fiterbox").click(function() {
        $(this).toggleClass("active_fiter");
        });
        });
    }); 
   
</script>
