<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

$banners = $block->getBanners();
foreach ($banners as $banner):
    if ($banner->getBannerType() == Sigosoft\Banner\Model\System\Config\BannerType::AD_DETAIL_PAGE):
        $adBanner = $banner;
    endif;
endforeach
?>
     
        <?php if (isset($adBanner)): ?>
            <div class="product_blk_detail">
                <a href="<?php echo $this->getLink($adBanner);  ?>">
                    <img src="<?php echo $this->getMediaDirectoryUrl() . $adBanner->getBannerImage(); ?>">
                </a>

            </div>
        <?php endif; ?>
    
