<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

$banners = $block->getBanners();
foreach ($banners as $banner):
    if ($banner->getBannerType() == Sigosoft\Banner\Model\System\Config\BannerType::AD_BANNER_LEFT):
        $leftBanner = $banner;
    endif;
    if ($banner->getBannerType() == Sigosoft\Banner\Model\System\Config\BannerType::AD_BANNER_RIGHT):
        $rightBanner = $banner;
    endif;
endforeach
?>
    <div class="row mb-5">
        
        <?php if (isset($leftBanner)): ?>
            <div class="col-md-6 mb-2">
                <a href="<?php echo $this->getLink($leftBanner);  ?>">
                    <img src="<?php echo $this->getMediaDirectoryUrl() . $leftBanner->getBannerImage(); ?>">
                </a>

            </div>
        <?php endif; ?>
        <?php if (isset($rightBanner)): ?>
            <div class="col-md-6">
                <a href="<?php echo $this->getLink($rightBanner);  ?>">
                    <img src="<?php echo $this->getMediaDirectoryUrl() . $rightBanner->getBannerImage(); ?>">
                </a>

            </div>
        <?php endif; ?>
            </div>
        </div>
    </div>
