<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

$banners = $block->getBanners();
foreach ($banners as $banner):
    if ($banner->getBannerType() == Sigosoft\Banner\Model\System\Config\BannerType::LEFT_BANNER):
        $leftBanner = $banner;
    endif;
    if ($banner->getBannerType() == Sigosoft\Banner\Model\System\Config\BannerType::RIGHT_TOP_BANNER):
        $rightTopBanner = $banner;
    endif;
    if ($banner->getBannerType() == Sigosoft\Banner\Model\System\Config\BannerType::RIGHT_BOTTOM_BANNER):
        $rightBottomBanner = $banner;
    endif;
    if ($banner->getBannerType() == Sigosoft\Banner\Model\System\Config\BannerType::MIDDLE_TOP_BANNER):
        $middleTopBanner = $banner;
    endif;
    if ($banner->getBannerType() == Sigosoft\Banner\Model\System\Config\BannerType::MIDDLE_BOTTOM_BANNER):
        $middleBottomBanner = $banner;
    endif;
endforeach
?>
    <div class="row no-gutters-pd">
        <?php if (isset($leftBanner)): ?>
            <div class="col-md-6 no-gutters-pd pdng pos_relative">
                <?php
                echo $this->getLayout()
                ->createBlock('Magento\Cms\Block\Block')
                ->setBlockId('left-banner')
                ->toHtml();
                ?>
                <a href="<?php echo $this->getLink($leftBanner);  ?>">
                    <img src="<?php echo $this->getMediaDirectoryUrl() . $leftBanner->getBannerImage(); ?>">
                </a>

            </div>
        <?php endif; ?>
        <div class="col-md-6 no-gutters-pd">
            <div class="row no-gutters-pd">
                <?php if (isset($rightTopBanner)): ?>
                    <div class="col-md-6 no-gutters-pd pos_relative">
                    <?php
                    echo $this->getLayout()
                    ->createBlock('Magento\Cms\Block\Block')
                    ->setBlockId('right-top-banner')
                    ->toHtml();
                    ?>
                    <a href="<?php echo $this->getLink($rightTopBanner); ?>">
                        <img src="<?php echo $this->getMediaDirectoryUrl() . $rightTopBanner->getBannerImage(); ?>">
                    </a>
                    </div>
                <?php endif; ?>
                <?php if (isset($rightBottomBanner)): ?>
                    <div class="col-md-6 no-gutters-pd pos_relative">
                    <?php
                    echo $this->getLayout()
                    ->createBlock('Magento\Cms\Block\Block')
                    ->setBlockId('right-bottom-banner')
                    ->toHtml();
                    ?>
                    <a href="<?php echo $this->getLink($rightBottomBanner); ?>">
                        <img src="<?php echo $this->getMediaDirectoryUrl() . $rightBottomBanner->getBannerImage(); ?>">
                    </a>
                    </div>
                <?php endif; ?>
                <?php if (isset($middleTopBanner)): ?>
                    <div class="col-md-6 no-gutters-pd pos_relative">
                        <?php
                        echo $this->getLayout()
                        ->createBlock('Magento\Cms\Block\Block')
                        ->setBlockId('middle-top-banner')
                        ->toHtml();
                        ?>
                        <a href="<?php echo $this->getLink($middleTopBanner); ?>">
                            <img src="<?php echo $this->getMediaDirectoryUrl() . $middleTopBanner->getBannerImage(); ?>">
                        </a>
                    </div>
                <?php endif; ?>
                <?php if (isset($middleBottomBanner)): ?>
                    <div class="col-md-6 no-gutters-pd pos_relative">
                        <?php
                        echo $this->getLayout()
                        ->createBlock('Magento\Cms\Block\Block')
                        ->setBlockId('middle-bottom-banner')
                        ->toHtml();
                        ?>
                        <a href="<?php echo $this->getLink($middleBottomBanner); ?>">
                            <img src="<?php echo $this->getMediaDirectoryUrl() . $middleBottomBanner->getBannerImage(); ?>">
                        </a>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
