.no-gutters-pd {
    padding: 0px;
    margin: 0px;
   }
   
   .bg {
    background: #0e0e0e;
   }
   
   .bg1 {
    background: #e8e8e8;
   }
   
   .slider {
    width: 95%;
    margin: auto;
    margin-top: 20px;
   }
   
   .slider img {
    width: 100%;
   }
   
   .slider .no-gutters-pd {
    padding: 2px;
   }
   
   .pdng {
    padding-top: 6px !important;
    padding-right: 0px !important;
   }
   
   .headings {
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 25px;
   }
   
   .headings h2 {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 7vw;
    z-index: 9;
    position: relative;
    text-transform: uppercase;
    font-size: 26px;
   }
   
   .headings span {
    float: left;
    width: 100%;
    text-align: left;
    position: absolute;
    left: 0px;
    color: #ededed;
    font-size: 7vw;
    letter-spacing: 20px;
    font-weight: bold;
   }
   
   .headings .tagline {
    float: left;
    width: 100%;
    margin-top: 15px;
    padding: 0px 15vw;
    font-style: italic;
   }
   
   .link_box {
    float: left;
    width: 100%;
    box-shadow: #c6c6c6 0px 0px 16px;
    margin-bottom: 15px;
    padding: 15px 10px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
   }
   
   .link_box h2 {
    float: left;
    width: 100%;
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 10px;
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
   }
   
   .link_box h2:after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100px;
    height: 1px;
    background: #353535;
    content: "";
   }
   
   .link_box ul {
    float: left;
    width: 100%;
    padding-left: 0px;
    margin-bottom: 0px;
   }
   
   .link_box ul li {
    float: left;
    width: 100%;
    list-style: none;
    margin-bottom: 5px;
   }
   
   .link_box ul li span {}
   
   .link_box .all_links {
    float: left;
    width: 100%;
    font-weight: 600;
   }
   
   .link_box:hover {
    background: #ef4f00;
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
   
   }
   
   .link_box ul li a {
    color: #353535;
   }
   
   .link_box ul li a:hover {
    text-decoration: none;
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
   }
   
   .link_box:hover h2 {
    color: #fff;
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
   }
   
   .link_box:hover a {
    color: #fff;
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
   }
   
   .link_box:hover h2:after {
    background: #fff;
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
   }
   
   .product_listing {
    width: 100%;
    float: left;
    padding-left: 0px;
    /*display: flex;*/
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
   }
   
   .product_listing li {
    list-style: none;
    width: 33.33%;
    margin-bottom: 3%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    }
   
   .products {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
   }
   
   .products img {
    float: left;
    width: 100%;
   }
   
   .products span {
    float: left;
    width: 100%;
    color: #ff0000;
    margin-top: 6px;
   }
   
   .products span a {
    float: left;
    width: 100%;
    color: #353535;
    font-weight: bold;
    font-style: italic;
   }
   
   .slign_uphead {
    float: left;
    width: 100%;
    font-size: 25px;
    text-transform: uppercase;
   }
   
   .slign_para {
    float: left;
    width: 100%;
    font-size: 16px;
    font-style: italic;
   }
   
   .form_subscribe {
    background: #fff;
    float: left;
    width: 100%;
    border: #ef4f00 solid 2px;
    border-radius: 50px;
    display: flex;
    margin-top: 5px;
   }
   
   .form_subscribe input {
    margin-left: 15px;
    margin-top: 5px;
    outline: none;
    margin-bottom: 5px;
   }
   
   .form_subscribe button {
    background: #ef4f00;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 1px !important;
    padding: 10px 15px;
    margin-right: -10px;
   }
   
   .bg3 {
    background: #f4f4f4;
   }
   
   .footer_links h2 {
    float: left;
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 15px;
   }
   
   .footer_links ul {
    float: left;
    width: 100%;
    padding-left: 0px;
   }
   
   .footer_links ul li {
    float: left;
    width: 100%;
    list-style: none;
   }
   
   .footer_links ul li a {
    float: left;
    width: 100%;
    margin-bottom: 10px;
   }
   
   .form_subscribe button:hover {
    background: #c74201;
   }
   
   .footer_links address {
    float: left;
    width: 100%;
    line-height: 25px;
   }
   
   .footer_links address span {
    width: 100%;
    float: left;
   }
   
   .social_link {
    float: left;
    width: 100%;
   }
   
   .social_link li {
    float: left;
    width: auto !important;
   }
   
   .social_link li a {
    float: left;
    font-size: 25px;
    width: auto !important;
    padding: 5px 10px;
   }
   
   footer a:hover {
    color: #ef4f00;
   }
   
   .product_cart {
    position: absolute;
    top: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
   }
   
   .product_cart a {
    background: #ef4f00;
    color: #fff;
    padding: 15px 18px;
    border-radius: 100%;
   }
   
   .products:hover .product_cart {
    top: 35%;
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
   }
   
   .search_inp {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    line-height: 33px;
    font-size: 18px;
    border-right: #ccc solid 1px;
   }
   
   .search_select {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    line-height: 45px;
    font-size: 18px;
    height: 35px;
    border-right: #ccc solid 1px;
    padding-left: 7px;
   }
   
   .search_smbt {
    float: right;
    height: 35px;
    width: 35px;
    background: #ef4f00;
    color: #fff;
    border: none;
    border-radius: 100%;
    outline: none;
   }
   
   .navbar-nav .nav-link {
    color: #fff !important;
   }
   
   .navbar-nav {
    float: right;
   }
   
   .pos_relative {
    position: relative;
   }
   
   .details_product {
    position: absolute;
    background: rgba(255, 255, 255, 0.63);
    padding: 10px;
    width: 90%;
    left: 3%;
    bottom: 3%;
   }
   
   .details_product h2 {
    float: left;
    width: 100%;
   }
   
   .details_product span {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
   }
   
   .details_product .price_slid {
    float: left;
    width: 100%;
    font-size: 26px;
    font-weight: 600;
   }
   
   .logo img {
    width: 100%;
    max-width: 215px;
   }
   
   .details_product span::after {
    background: #215d3b;
    display: block;
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
   }
   
   
   .details_products {
    position: absolute;
    background: rgba(255, 255, 255, 0.63);
    padding: 10px;
    width: 90%;
    left: 3%;
    bottom: 3%;
   }
   
   .details_products h2 {
    float: left;
    width: 100%;
    font-size: 20px;
   }
   
   .details_products span {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
   }
   
   .details_products .price_slid {
    float: left;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
   }
   
   .details_products span::after {
    background: #215d3b;
    display: block;
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
   }
   
   .filtername {
    float: left;
    width: 100%;
    font-size: 25px;
    margin-bottom: 30px;
   }
   
   .fiterbox {
    width: 100%;
    float: right;
    margin-bottom: 25px;
    height: auto;
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
   }
   
   .fiterbox h2 {
    width: 100%;
    float: right;
    font-size: 18px;
   }
   
   .fiterbox h2 i {
    float: right;
    font-size: 15px;
    line-height: 25px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
   }
   
   .fiterbox ul {
    float: left;
    width: 100%;
    padding-left: 0px;
   }
   
   .fiterbox ul li {
    float: left;
    width: 100%;
    list-style: none;
    margin-bottom: 10px;
   }
   
   .fiterbox.active_fiter {
    height: 25px !important;
    overflow: hidden;
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
   }
   
   .fiterbox.active_fiter h2 i {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
   }
   
   .listpage_pr li {
    width: 32%;
    border: #f2f2f2 solid 1px;
   }
   
   .product_list_info {
    float: left;
    width: 100%;
    padding: 5px 10px;
   }
   
   .prv {
    float: left;
    line-height: 17px;
    width: 100%;
    display: flex;
   }
   
   .prv img {
    float: left;
    margin-right: 6px;
   }
   
   
   .listpage_pr li:hover {
    box-shadow: #ccc 0px 0px 5px;
   }
   
   .block_product_detail {
    float: left;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    font-size: 16px;
   }
   
   .block_product_detail span {
    margin-right: 10px;
    color: #6f6f6f;
   }
   
   .block_product_detail span:first-child {
    font-weight: bold;
   }
   
   .h2_detail {
    font-size: 19px;
    text-transform: uppercase;
    color: #ef4f00;
    margin-bottom: 16px;
    margin-top: 15px;
   }
   
   .enquiry_detail {
    background: #13512c;
    color: #fff;
    margin-top: 10px;
   }
   
   .enquiry_detail:hover {
    background: #ef4f00;
    color: #fff;
   }
   
   .product_blk_detail {
    float: left;
    width: 100%;
    border-bottom: #dfdfdf solid 1px;
    padding-bottom: 10px;
    margin-bottom: 8px;
   }
   
   .para_p {
    float: left;
    width: 100%;
    color: #6f6f6f;
    margin-top: 15px;
   }
   
   .para_p h2 {
    float: left;
    width: 100%;
    color: #6f6f6f;
    font-size: 26px;
   }
   
   .para_p p {
    float: left;
    width: 100%;
    line-height: 27px;
   }
   
   .vertical_mid td {
    vertical-align: middle;
    text-transform: capitalize;
   }
   
   .vertical_mid {
    margin-top: 15px;
    float: left;
    width: 100%;
   }
   
   .cart_hd {
    float: left;
    width: 100%;
    font-size: 28px;
    line-height: 65px;
   }
   
   
   .price_crt {
    color: #cf1614;
    margin-left: 10px;
    font-weight: bold;
   }
   
   .subtotal_s {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
   }
   
   .stepper-widget button {
    border: none;
    outline: none;
    font-size: 24px;
    font-weight: bold;
    padding: 0px 8px;
    height: 35px;
    line-height: 25px;
    width: 28px;
   }
   
   .stepper-widget button:focus {
    box-shadow: none;
   }
   
   .stepper-widget input {
    height: 38px;
    width: 45px !important;
    text-align: center;
    font-weight: bold;
    outline: none;
    border: none;
   }
   
   .js-qty-up {
    color: #3aae5b;
   }
   
   .js-qty-down {
    color: #e8317b;
   }
   
   
   .stepper-widget {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border: #ccc solid 1px;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
   }
   
   .amnt {
    color: #e8317b;
    font-weight: bold;
   }
   
   .product_nme_amt {
    float: left;
    width: 100%;
   }
   
   .product_nme_amt span {
    width: 100%;
    float: left;
    font-size: 14px;
   }
   
   .border-custom {
    border-bottom: #ccc solid 1px;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
   }
   
   .brdr_adj .border-custom:nth-child(1) {
    border-top: #ccc solid 1px;
   }
   
   .proceed_toc_h {
    color: #fff !important;
    background: #13512c;
    border-radius: 50px;
    padding: 0px 15px;
    margin-left: 15px;
    float: right;
    height: 40px;
    line-height: 40px;
   }
   
   .recent_viewd_item {
    border: #ccc solid 1px;
    border-radius: 10px;
    padding: 15px;
   }
   
   .recent_viewd_item .amnt {
    float: left;
    clear: both;
   }
   
   .recent_viewd_item .add_carft {
    float: left;
    clear: both;
    background: #ef4f00;
    padding: 2px 10px;
    color: #fff;
    border-radius: 40px;
    margin: 5px 0px;
    font-size: 14px;
   }
   
   .recent_viewd_item h2 {
    width: 100%;
    font-size: 15px;
   }
   
   .recent_viewd_item img {
    width: 100%;
   }
   
   .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
   }
   
   .user_inform {
    float: left;
    width: 100%;
    line-height: 28px;
   }
   
   .user_inform h2 {
    float: left;
    width: 100%;
    font-size: 20px;
    text-transform: capitalize;
   }
   
   .user_inform address {
    float: left;
   }
   
   .user_inform span {
    float: left;
   }
   
   .user_inform a {
    /*float: right;*/
    color: #9f4fd6;
    margin-left: 10px;
   
   }
   
   .user_inform .col-12 {
    white-space: nowrap;
    display: flex;
   }
   
   .user_inform .col-12 span:first-child {
    color: #a4a4a4;
    margin-right: 10px;
   }
   
   .recent_order {
    width: 100%;
   }
   
   .recent_order h2 {
    float: left;
    width: 100%;
    font-size: 24px;
    margin-bottom: 25px;
   }
   
   
   .product_nme_amt span:first-child {
    font-size: 17px;
    font-weight: 600;
   }
   
   .qty_nm {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #898989;
   }
   
   .ship_mthd {
    font-size: 20px;
    margin-top: 20px;
   }
   
   .nxt_btn {
    color: #fff;
    background: #ef4f00;
    padding: 6px 25px;
    border-radius: 50px;
    border: none;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
   }
   
   .border_sumry {
    border: #ccc solid 1px;
    border-radius: 10px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
   }
   
   .border_sumry h2 {
    width: 100%;
    font-size: 18px;
    padding: 11px 10px;
    margin-bottom: 0px;
   }
   
   .border_sumry table td {
    padding: 2px 10px;
   }
   
   .border_sumry table td:nth-child(2) {
    text-align: right;
   }
   
   .bordr_tp {
    border-top: #ccc solid 1px;
    float: left;
    width: 100%;
   }
   
   .bordr_tp table td {
    font-weight: bold;
    padding: 8px 10px;
   }
   
   .border_sumry table td:nth-child(2) {
    color: #d21617;
   }
   
   .address_checkout h2 {
    font-size: 15px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 3px;
   }
   
   .border_sumry .address_checkout {
    padding-left: 10px;
   }
   
   .bordr_tp span {
    padding-left: 10px;
    margin-bottom: 5px;
    width: 100%;
    padding-bottom: 15px;
    float: left;
   }
   
   .login_pg {}
   
   .login_pg h2 {
    font-size: 18px;
    margin-bottom: 15px;
   }
   
   .login_pg span {
    width: 100%;
    margin-bottom: 15px;
   }
   
   .select_aadress {
    border: #ccc solid 2px;
    padding: 10px;
    margin-bottom: 30px;
   }
   
   .select_aadress.active {
    border: #ef4f00 solid 2px;
   }
   
   
   
   
   
   
   
   
   
   
   @media only screen and (max-width: 640px) {
   
    .brdr_adj .subtotal_s {
     display: block;
    }
   
    .brdr_adj .proceed_toc_h {
     float: left;
     margin-bottom: 19px;
     margin-left: 0px;
    }
   
    .navbar-toggler {
     margin-top: -50px;
    }
   
    .navbar-collapse.collapse {
     width: 100vw;
     position: absolute;
     background: #0e0e0e;
     top: 15px;
     right: -15px;
     z-index: 9;
     padding: 0px 15px;
    }
   
    .navbar-nav {
     float: left;
     width: 100%;
    }
   
    .navbar {
     flex-grow: initial;
     justify-content: flex-end;
     padding: 0px;
    }
   
    .search_select {
     margin-top: 7px;
     border-right: none;
    }
   
    .search_inp {
     border-right: none;
     border-bottom: #ccc solid 1px;
    }
   
    .search_smbt {
     width: 100%;
     border-radius: 50px;
     margin-top: 7px;
    }
   
    .product_listing li {
     width: 48%;
    }
   
    .form_subscribe .flex-nowrap {
     display: flex;
    }
   
    .form_subscribe .form-group {
     margin-bottom: 5px;
     margin-top: 5px;
    }
   
   }
   .iconss img{
       width: 200px;
   }
   .six-column-class {
   background: url(../images/series-image.jpg) no-repeat;
   width: 100%;
   margin: auto;
   background-size: cover;
   padding-bottom: 3vw;
}


   .six-column-class.container-fluid.no-gutters-pd{
       background: #ffffff75;
   }
   .link_box {
    background: #fff;
   }
   @media screen and (max-width: 768px) and (min-width: 641px) {
    .search_smbt {
     width: 100%;
     border-radius: 50px;
     margin-top: 7px;
    }
   
    .search_inp {
     border-right: none;
     border-bottom: #ccc solid 1px;
    }
   
    .search_select {
     margin-top: 7px;
     border-right: none;
    }
   
    .navbar {
     flex-grow: initial;
     justify-content: flex-end;
     padding: 0px;
    }
   
   }
   