/* starting magento css */
.search_inp{
    background: #e8e8e8 !important;
    background-clip: padding-box;
    border: 0px solid #c2c2c2e8 !important;
    border-radius: 1px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px !important;
    height: 32px;
    line-height: 1.42857143;
    padding: 0 9px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
}
button:active{
    background:#ef4f00;
    border:0px !important;
}
button:hover{
    background:#ef4f00;
}
.col-md-1 button{
    padding : 10px 12px;
}
input[type="email"]{
 border: 0px solid #c2c2c2;
}
.action.primary{
 background:#ef4f00 !important;
 border: 1px solid #ef4f00 !important;
}
.home-main .columns{
    display: none !important;
}
.detail-page .columns{
    display: none !important;
}
.detail-page .type{
     display: none !important;
}
.detail-page .product.attribute.sku{
 display: none !important;
}
body{
 font-size: 15px;
 }

.subtotal_s .mark{
    padding: auto;
    background-color: #e8e8e8;
}
.subtotal_s .price{
    color: #cf1614;
    margin-left: 10px;
    font-weight: bold;
}
.amnt .price{
 color: #e8317b !important;
 font-weight: bold !important;
}
.block.crosssell {
  margin-top: 0px;
 }
 .col-md-4 .products {
     margin: 0px 0;
 }
 .add_carft{
     color: #fff !important;
 }
 [type="button"]{
     -webkit-appearance: none;
 }
 .cart-summary._sticky{
     display: none !important;
 }
 .cart-totals {
     border-top: 0px solid #d1d1d1;
     padding-top: 0px;
 }
 .form-control {
     display: block !important;
     width: 100% !important;
     height: 36px !important;
     padding: 0.375rem 0.75rem !important;
     font-size: 15px !important;
     font-weight: 400 !important;
     line-height: 1.5 !important;
     color: #495057 !important;
     background-color: #fff !important;
     background-clip: padding-box !important;
     border: 1px solid #ced4da !important;
     border-radius: 0.25rem !important;
     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
 }
 .checkout-container .modal-header{
     display: none !important;
 }
 .checkout-container .modal-content{
     border: none !important;
 }
 .checkout-container .subtotal .price{
 color: #e8317b;
 font-weight: bold;}

 .checkout-container .step-title{
     display: none;
 }
 .checkout-container .actions-toolbar{
    margin-left: 0px !important;
 }
 .checkout-container button:hover{
     background: #ef4f00 !important; 
 border: 1px solid #ef4f00 !important;
  color: #fff !important; 
 }
 .field.password-info{
     display: none;
 
 }
 .form-group.mt-2 button:hover{
     background: #ef4f00 !important; 
 border: 1px solid #ef4f00 !important;
  color: #fff !important; 
 }
 .select_aadress.selected-item {
    border: #ef4f00 solid 2px;
   }
   .opc-wrapper {
    box-sizing: border-box;
    margin-top: 4%;
 }
 .border_sumry .address_checkout.border_top {
    border-top: #ccc solid 1px;
}
    .discount-code{
        display: none;
    }
    .border_sumry {
        margin-top:15px;
    }
    .action.primary.checkout{
        color: #fff !important;
    background: #ef4f00 !important;
    padding: 6px 25px !important;
    border-radius: 50px !important;
    border: none !important;
    outline: none !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    text-transform: capitalize !important;

    }
    .bx-controls{
        display: none;
    }

.tocart{color: #fff !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0px;
    background: none;
}

.search_smbt{padding: 8px !important;
    text-align: center;}
.page-main{
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 100% !important;
}
.product-info-stock-sku .desc{
    display: none;
}
.columns .column.main {
padding-bottom:0px !important;
}
.column.main {
    min-height:0px !important;
}
button:focus{
 background:#ef4f00 !important; 
   color:#fff !important;
   border:none !important;
   outline: none;
}
button:hover{color:#fff !important;  border:none !important;}
.search.found{
    display:none !important;
}
.search.summary{
    display:none !important;
}
.message.notice{
    display:none !important;
}
.product.media{width:100% !important;}
.gallery-placeholder{width:100% !important;}
.products {
     margin: 0px 0 !important;
}
.page-products .product-item-info {
    width: 100% !important;
}
.products span {
    margin-top: 0px !important;
}
.slider-margin{
    margin-top : 2%;
    margin-bottom: 2%;
}
.enquiry_detail {
background: #13512c;
color: #fff;
margin-top: 10px;
    margin-bottom: 15px;
}

.brdr {
border: #ccc solid 1px;
border-radius: 5px;
}

.width-100 {
width: 100%;
float: left;
padding-right: 15px;
padding-left: 15px;
margin-bottom: 15px;
}

.custom_ml {
float: left;
width: 100%;
margin-bottom: 10px;
}

.custom_ml i {
margin-right: 10px;
}

.enquiry_detail i {
margin-right: 10px;
}
.qty .form-control{
    border:0px !important;
}

.link_box span {
width: 100%;
}

.link_mr {
float: left;
clear: both;
transition: All .5s ease;
-webkit-transition: All .5s ease;
-moz-transition: All .5s ease;
-o-transition: All .5s ease;
border: #353535 1px solid;
color: #353535;
padding: 3px 25px;
margin-top: 15px;
line-height: 28px;
border-radius: 5px;
margin-bottom: 15px;
}

.bx:hover {
background: #fff;
}

.bx:hover h2 {
color: #353535;
}

.bx:hover h2:after {
background: #353535;
}

.bx:hover .link_mr {
color: #353535;
}

.link_mr:hover {
background: #ef4f00;
transition: All .5s ease;
-webkit-transition: All .5s ease;
-moz-transition: All .5s ease;
-o-transition: All .5s ease;
border: #ef4f00 1px solid;
color: #fff;
}
.sales-order-view .nav.item.current{
    display: none !important;
}
.bx h2{text-align: center;}
.bx h2:after{left: calc(50% - 50px)}
.bx span{text-align: center;}
.bx{display: flex;    justify-content: center;}
.headings h2{padding-top: 3vw;}
.headings span{top: -45px;font-size: 6vw;}
/* end of magento css */
/* ----multivendor styles----- */

.mystore_links {
 float: left;
 width: 100%;
 padding-left: 0px;
}

.mystore_links li {
 float: left;
 width: 100%;
 padding-left: 0px;
 list-style: none;
 border-bottom: #e8e8e8 solid 1px;
 padding: 10px;
 background: #f1f1f1;
}

.mystore_links li a {
 float: left;
 width: 100%;
 padding-left: 0px;
}

.mystore_links li.current {
 border-left: #ef4f00 solid 5px;
 transition: All .5s ease;
 -webkit-transition: All .5s ease;
 -moz-transition: All .5s ease;
 -o-transition: All .5s ease;
}

.mystore_links li:hover {
 border-left: #ef4f00 solid 5px;
 transition: All .5s ease;
 -webkit-transition: All .5s ease;
 -moz-transition: All .5s ease;
 -o-transition: All .5s ease;
}

/* browse seller css*/

.pts-row {
 margin-right: -15px;
 margin-left: -15px;
}

.pts-input-group {
 position: relative;
 display: table;
 border-collapse: separate;
}

.pts-input-group-btn {
 position: relative;
 font-size: 0;
 white-space: nowrap;
}

.pts-col-md-3,
.pts-col-md-4,
.pts-col-md-6,
.pts-col-sm-10,
.pts-col-sm-12,
.pts-col-sm-2,
.pts-col-sm-3,
.pts-col-sm-4,
.pts-col-sm-5,
.pts-col-sm-6,
.pts-col-sm-7,
.pts-col-sm-9,
.pts-col-xs-2,
.pts-col-xs-6 {
 position: relative;
 min-height: 1px;
 padding-right: 15px;
 padding-left: 15px;
}

.pts-input-group-addon,
.pts-input-group-btn {
 white-space: nowrap;
 vertical-align: middle;
}

.pts-input-group-addon {
 padding: 6px 12px;
 font-size: 14px;
 font-weight: 400;
 line-height: 1;
 color: #555;
 text-align: center;
 background-color: #eee;
 border: 1px solid #ccc;
 border-radius: 4px;
}

.img-thumbnail {
 display: inline-block;
 max-width: 100%;
 width: 100%;
 height: auto;
 padding: 4px;
 line-height: 1.42857143;
 background-color: #fff;
 border: 1px solid #ddd;
 border-radius: 4px;
 -webkit-transition: all .2s ease-in-out;
 -o-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;
}

.purpletree_seller .product_count {
 background: #eee none repeat scroll 0 0;
 padding: 4px 9px;
}

.purpletree_seller {
 border: 1px solid #ccc;
 border-radius: 2px;
 margin-bottom: 10px;
 padding: 12px 5px;
 margin-top: 15px;
 display: flex;
 float: left;
 width: 100%;
}

.purpletree_seller .seller_product {
 float: right;
 max-width: 80px;
 margin-left: 5px;
}

.pts-text-center {
 text-align: center;
}

.pts-input-group .pts-form-control:first-child,
.pts-input-group-addon:first-child,
.pts-input-group-btn:first-child>.pts-btn,
.pts-input-group-btn:first-child>.pts-btn-group>.pts-btn,
.pts-input-group-btn:first-child>.dropdown-toggle,
.pts-input-group-btn:last-child>.pts-btn-group:not(:last-child)>.pts-btn,
.pts-input-group-btn:last-child>.pts-btn:not(:last-child):not(.dropdown-toggle) {
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
}

.ml-2 {
 margin-left: 5px;
}

.toolbar select {
 background-color: #e8e8e8;
 border-radius: 3px;
 color: #0e0e0e;
 padding: 5px 10px;
 border: none;
}

.float-left {
 float: left;
}

.float-right {
 float: right;
}

@media (min-width: 992px) {
 .pts-col-md-4 {
  width: 33.33333333%;
 }

 .pts-col-md-3 {
  width: 25%;
 }

 .pts-col-md-5 {
  width: 58.33%;
 }

 .pts-col-sm-2 {
  width: 16.66666667%;
 }

 .pts-col-sm-7 {
  width: 58.33333333%;
 }

 .pts-col-md-1,
 .pts-col-md-10,
 .pts-col-md-11,
 .pts-col-md-12,
 .pts-col-md-2,
 .pts-col-md-3,
 .pts-col-md-4,
 .pts-col-md-5,
 .pts-col-md-6,
 .pts-col-md-7,
 .pts-col-md-8,
 .pts-col-md-9 {
  float: left;
 }
}

.form.generateticket .field {
 clear: both;
}




.pts-row {
 float: left;
 width: 100%;
}

.order-products-toolbar {
 float: left;
 width: 100%;
}

.pts-input-group input {
 margin-top: 10px;
 margin-bottom: 10px;
 margin-right: 5px;
}

.purpletree_seller p {
 margin-bottom: 5px;
}

.purpletree_seller h3 {
 font-size: 20px;
}

.seller_contact {
 background: #eee;
 padding: 2px 13px;
 border-radius: 25px;
 margin-top: 15px;
 float: left;
}

.seller_contact b {
 font-weight: normal;
}


@media (max-width: 768px) {
 .purpletree_seller {
  display: block;
 }

 .pts-col-xs-12 {
  float: left;
  width: 100%;
 }
}

.pts-newbtn-next span {
 background: #ef4f00 none repeat scroll 0 0 !important;
}
.marketplace-index-storeview .product-item-info
{ width: 100% !important;}
.marketplace-index-storeview .product_listing{margin-left: 0px !important;
   margin-right: 0px  !important }

.marketplace-index-storeview .pts-container_left{    line-height: 30px;}
.pts-form-control.pts-input-lg.search{height:34px !important;}

.toolbar-amount{float: none !important;}

.catalog-product-view .btn{
    font-size: 15px;
}
.six-column-class{
    margin-top: 4%;
}
.brands .order-products-toolbar{
    display: none !important;
}
.catalogsearch-advanced-index .headings{
    display: none !important;
}
.bhd{
    color: #6f6f6f;
    font-weight: bold;
}
.nav-link:hover {
    text-decoration: underline !important;
}
@media only screen and (max-width: 640px)
{
    .navbar-collapse.collapse {
    top: 10px !important;
    }
    button:hover {
        background: #0e0e0e !important;
    }
    button:focus {
        background: #0e0e0e !important;
    }
    .six-column-class{
        margin-top: 16%;
    }
}
.open .dropdown-menu{
    display: block !important;
    background: #000 !important;
    left: auto;
    top: auto;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff !important;
    white-space: nowrap;
    font-size: 15px;
 }


