<?php
$productHelper = $this->helper('Sigosoft\ProductDetails\Helper\Data');
$quickviewHelper = $this->helper('Sigosoft\Quickview\Helper\Data');
$items = $productHelper->loadProducts($this->getProducts());
$iterator = 0;
$limit = 8;
?>

<div class="row mt-5">
    <div class="col-12">
    <?php
    echo $this->getLayout()
    ->createBlock('Magento\Cms\Block\Block')
    ->setBlockId('popular-heading')
    ->toHtml();
    ?>  
    </div>
</div>

<div class="row">
    <?php if (count($items) > 0): ?>
        <ul class="product_listing">
        <?php foreach ($items as $item): ?>
            <?php if ($iterator < $limit) { ?>
                <li>
                    <div class="products">
                    <div class="product_cart">
                        <a><?= $item->addtocart; ?></a>
                    </div>
                    
                    <img src="<?= $item->imageUrl ?>" />
                        <span><a href="<?= $item->productUrl ?>"><?= $item->name ?></a></span>
                        <span><?= $item->finalPrice; ?></span>
                    </div>
            <?php } ?>
            <?php $iterator++ ?>
        <?php endforeach ?>
            </li>
        </ul>
        <script type="text/x-magento-init">
            {
            "[data-role=tocart-form], .form.map.checkout": {
            "catalogAddToCart": {}
            }
            }
        </script>
    <?php endif ?>

</div>


