<?php
$productHelper = $this->helper('Sigosoft\ProductDetails\Helper\Data');
$quickviewHelper = $this->helper('Sigosoft\Quickview\Helper\Data');
$items = $productHelper->loadProducts($this->getTopRatedProducts());
$iterator = 0;
$limit = 5;
?>
<?php if (count($items) > 0): ?>
    <h2>TOP RATED</h2>
    <a class="view-all-btn" href="<?= $this->getUrl("top-rated") ?>">VIEW ALL</a>
    <div class="product-listing-container" > 
        <?php foreach ($items as $item): ?>
            <?php if ($iterator < $limit) { ?>
                <div class="item">
                    <div class="product_item">
                        <div class="full">
                            <div class="image-container">
                                <a href="<?= $item->productUrl ?>">
                                    <div class="produuct_img">
                                        <img src="<?= $item->imageUrl ?>" />
                                    </div>
                                </a>
                            </div>
                            <div class="product-detail">
                                <a href="<?= $item->productUrl ?>">
                                    <h3><?= $item->name ?></h3>
                                </a> 
                                <div class="star_section">
                                    <div class="product-reviews-summary short">
                                        <div class="rating-summary">
                                            <div title="<?= $item->ratingPercentage ?>%" class="rating-result">
                                                <span style="width:<?= $item->ratingPercentage ?>%"><span><?= $item->ratingPercentage ?>%</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="price_all">
                                    <?php if ($item->discountPercentage > 0): ?>
                                        <span class="regular_price"><?= $item->originalPrice; ?></span>
                                    <?php endif ?>
                                    <span class="special_price"><?= $item->finalPrice; ?></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
            <?php $iterator++ ?>
        <?php endforeach ?>
    </div>
    <script type="text/x-magento-init">
        {
        "[data-role=tocart-form], .form.map.checkout": {
        "catalogAddToCart": {}
        }
        }
    </script>
 <?php endif?>