<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */
?>
<?php
$urlInterface = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\UrlInterface');
$currenturl = $urlInterface->getCurrentUrl();
if (strpos($currenturl, '?') !== false) {
    $url=strtok($currenturl,'&');
    $char = '&';
}
else{
    $url=strtok($currenturl,'?');
    $char = '?';
}
// $url=strtok($currenturl,'&');


$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
$collection = $productCollection->create();
$collection->setFlag('has_stock_status_filter', true);
$collection = $collection
->joinField('qty',
        'cataloginventory_stock_item',
        'qty',
        'product_id=entity_id',
        '{{table}}.stock_id=1',
        'left'
    )
    ->addAttributeToSelect('stock_status')
    ->load();


?>
<?php if ($block->canShowBlock()): ?>
<div class="filtername">Filter</div>
        

        <div class="block-content filter-content">
            <?= $block->getChildHtml('state') ?>

            <?php if ($block->getLayer()->getState()->getFilters()): ?>
                <div class="block-actions filter-actions">
                    <a href="<?= /* @escapeNotVerified */ $block->getClearUrl() ?>" class="action clear filter-clear"><span><?= /* @escapeNotVerified */ __('Clear All') ?></span></a>
                </div>
            <?php endif; ?>
            <?php $wrapOptions = false; ?>
            
                <?php foreach ($block->getFilters() as $filter): ?>
                    <?php if (!$wrapOptions): ?>
                        
                        <dl class="filter-options" id="narrow-by-list">
                        
                    <?php $wrapOptions = true; endif; ?>
                    <?php  if($filter->getName() != __('Category')) { ?>
                        <?php if ($filter->getItemsCount()): ?>
                        <div class="fiterbox">
                            <h2><?= $block->escapeHtml(__($filter->getName())) ?> <i class="fas fa-angle-down"></i></h2>
                            <dd class="filter-options-content"><?= /* @escapeNotVerified */ $block->getChildBlock('renderer')->render($filter) ?></dd>
                        </div>
                        <?php endif; ?>
                    <?php } ?>
                <?php endforeach; ?>
            </div>
            <?php if ($wrapOptions): ?>
            
                </dl>
            <?php endif; ?>
        
   
<?php endif; ?>
<div class="fiterbox">
    <h2>Sort By<i class="fas fa-angle-down"></i></h2>
    <ul>
        <li><a href="<?=$url?><?=$char?>product_list_order=name">Alphabetically A-Z</a></li>
        <li><a href="<?=$url?><?=$char?>product_list_order=name&product_list_dir=desc">Alphabetically Z-A</a></li>
        
        <li><a href="<?=$url?><?=$char?>product_list_order=price">Price, low to high</a></li>
        <li><a href="<?=$url?><?=$char?>product_list_order=price&product_list_dir=desc">Price, high to low</a></li>

        <li><a href="<?=$url?><?=$char?>product_list_order=creating_date&product_list_dir=desc">Date, new to old</a></li>
        <li><a href="<?=$url?><?=$char?>product_list_order=creating_date">Date, old to new</a></li>
    </ul>
</div>
