<?php
$productHelper = $this->helper('Sigosoft\ProductDetails\Helper\Data');
$quickviewHelper = $this->helper('Sigosoft\Quickview\Helper\Data');
$items = $productHelper->loadProducts($this->getDealProducts());
?>
<?php if(count($items)>0):?>
<h2>Latest Offers</h2>
<a>VIEW ALL</a>
<div class="owl-carousel scrolling" id="three"> 
    <?php foreach ($items as $item): ?>
        <div class="item">
            <div class="product_item">
                <a href="<?= $item->productUrl ?>">
                    <div class="produuct_img">
                        <img src="<?= $item->imageUrl ?>" />
                    </div>
                    <h3><?= $item->name ?></h3>
                </a>    
                <div class="star_section">
                    <div class="product-reviews-summary short">
                        <div class="rating-summary">
                            <div title="<?= $item->ratingPercentage ?>%" class="rating-result">
                                <span style="width:<?= $item->ratingPercentage ?>%"><span><?= $item->ratingPercentage ?>%</span></span>
                            </div>
                        </div>
                        <div class="reviews-actions">
                            <?= $item->reviewsCount ?>
                        </div>
                    </div>
                </div>
                <div class="price_all">
                    <?= $item->discountPercentage > 0 ? $item->discountPercentage: '' ?>
                    <?php if ($item->discountPercentage > 0): ?>
                        <span class="regular_price"><?= $item->originalPrice; ?></span>
                    <?php endif ?>
                    <span class="special_price"><?= $item->finalPrice; ?></span>
                </div>
                <div class="cart_section">
                    <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                        <?= $item->wishlist; ?>
                    <?php endif; ?>
                    <?= $item->addtocart; ?>
                    <?= $quickviewHelper->getQuickView($item); ?>
                </div>
            </div>
        </div>
    <?php endforeach ?>

</div>
<script type="text/javascript">
    require(['jquery', 'carousel'], function ($) {
        $(document).ready(function () {
            $('#three').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 5,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            });
        });
    });
</script>
<script type="text/x-magento-init">
    {
    "[data-role=tocart-form], .form.map.checkout": {
    "catalogAddToCart": {}
    }
    }
</script>
<?php endif?>