<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="row">
<div class="col-12">
    <h2 class="ship_mthd">Shipping Methods</h2>
</div>
</div>
<div class="row">
    <div class="col-12">
        <div id="checkout-shipping-method-load">
            <table class="table-sm table-borderless table">
              
                <tr>
                    <!-- ko foreach: { data: rates(), as: 'method'} -->
                        <!--ko template: { name: element.shippingMethodItemTemplate} --><!-- /ko -->
                    <!-- /ko -->
                </tr>
            </table>
        </div>
    </div>
</div>
