<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>
<div class="row">
    <div class="col-12">
        <h2>Registered Customers</h2>
        <span>If you have an account, sign in with your email address</span>
    </div>
</div>
<form class="form form-login"
        action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
        method="post"
        id="login-form"
        data-mage-init='{"validation":{}}'>
    <?= $block->getBlockHtml('formkey') ?>
    
        <div class="form-group">
            <label for="email">Email <span>*</span></label>
            <input name="login[username]" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="email" type="email" class="form-control" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">    
        </div>
        <div class="form-group">
            <label for="email">Password <span>*</span></label>
                <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> class="form-control" id="pass" title="<?= $block->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}">    
        </div>
        <?= $block->getChildHtml('form_additional_info') ?>
        <div class="form-group">
            <button type="submit" class="action nxt_btn" name="send" id="send2">Sign In</button>
            <a class="action float-right" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>">Forgot Your Password?</a>
        </div>
</form>

