<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Subscribe $block */

?>

<div class="col-md-6 col-12">
    <span class="slign_uphead">Sign up for newsletter</span>
    <span class="slign_para">Get the latest deals and special offers</span>
</div>
<div class="col-md-6 col-12"> 
    <form class="form subscribe form-inline form_subscribe"
        novalidate
        action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
        method="post"
        data-mage-init='{"validation": {"errorClass": "mage-error"}}'
        id="newsletter-validate-detail">
        
        <div class="form-group col-12 flex-nowrap"> 
            <label for="staticEmail2" class="sr-only">Email</label>          
            <input class="form-control-plaintext" name="email" type="email" id="newsletter"
                    placeholder="<?= $block->escapeHtml(__('Enter your email')) ?>"
                    data-mage-init='{"mage/trim-input":{}}'
                    data-validate="{required:true, 'validate-email':true}"/>
        
    
            <button class="action subscribe primary btn btn-primary mb-2" title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>" type="submit">
                <span>Submit</span>
            </button>
        </div>
    </form>
</div>
