<div class="row mt-5">
    <div class="col-12">
    <div class="headings">
        <h2>Popular Products</h2>
        <span>Products</span>
        <div class="tagline">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</div>
    </div>
    </div>
</div>


<?php
    echo $this->getLayout()
    ->createBlock('Magento\Cms\Block\Block')
    ->setBlockId('popular-product-list')
    ->toHtml();
?>