<?php
/** @var \Magento\Framework\UrlInterface $urlInterface */
$urlInterface = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\UrlInterface');
$urlInterface->getCurrentUrl();

$url = $urlInterface->getCurrentUrl();
preg_match("/[^\/]+$/", $url, $matches);
$last_word = $matches[0]; ?>
<div class="headings">
    <h2><?= $last_word ?></h2>
    <span class="null">Horses</span>
</div>