<?php
/**
* Purpletree_Marketplace link
* NOTICE OF LICENSE
*
* This source file is subject to the Purpletree License that is bundled with this package in the file license.txt.
* It is also available through online at this URL: https://www.purpletreesoftware.com/license.html
*
* @category    Purpletree
* @package     Purpletree_Marketplace
* @author      Purpletree Software
* @copyright   Copyright (c) 2017
* @license     https://www.purpletreesoftware.com/license.html
*/
?>
<?php  if($this->isEnabled() == 1) { ?>
<?php if($this->isVisible() == 1) { ?>
<!-- <ul class="navbar-nav"> -->
<li class="nav-item">
<a class="nav-link" href="<?php echo $this->getBaseUrl().$this->getHref(); ?>" title="<?php echo $this->getLabel(); ?>">
<?php echo $this->getLabel(); ?>
</a>
</li>
<?php } ?>
<li class="nav-item">
<a class="nav-link" href="<?php echo $this->getBaseUrl().$this->getBrowseHref(); ?>" title="<?php echo $this->getBrowseLabel(); ?>">
<?php echo $this->getBrowseLabel(); ?>
</a>
</li>
<!-- </ul> -->
<?php } ?>