<!--
<!--
/**
* Purpletree_Marketplace orderview
* NOTICE OF LICENSE
*
* This source file is subject to the Purpletree License that is bundled with this package in the file license.txt.
* It is also available through online at this URL: https://www.purpletreesoftware.com/license.html
*
* @category    Purpletree
* @package     Purpletree_Marketplace
* @author      Purpletree Infotech Private Limited
* @copyright   Copyright (c) 2017
* @license     https://www.purpletreesoftware.com/license.html
*/
-->
<?php

	$billingAddress		= $this->getBillingAddress();
	$shippingAddress	= $this->getShippingAddress();
	$paymentMethod		= $this->getPaymentMethod();
	$cursymbol 			= $this->getCurrentCurrencySymbol();
	$orderCollection   	= $this->getOrderCollection();
	$manageOrder 		= $this->manageOrder();
	$productCollection  = $this->getProductCollection();
	$pathInvoice		= $this->getInvoiceUrl($orderCollection['entity_id']);
?>
<div class="order-date datechng">
    <p><b><?php echo  __("Order Date :").' '.date('M d, Y',strtotime($orderCollection['created_at']));?></b>
	<?php if($manageOrder){?>
					<?php if(!$this->getSellerorderInvoice()) { ?>
				<b>	<a class="pts-order-statuslink"href="<?php echo $this->getUrl('marketplace/index/invoicegenerate', ['order_id' => $orderCollection['entity_id']]); ?>"><?php echo __('Generate Invoice') ?></a></b>
				<?php }?>
			<?php } ?>
	</p>
	<div class="pts-order-status">
		<p>
			<b class="pts-order-statustxt"><?php echo __("Seller Order Status :") ?><?php echo ' : '.strtoupper($this->getSellerOrderStatus());?></b>
			
			<b style="float:right;" class="pts-order-statustxt"><?php echo __("Admin Order Status :") ?><?php echo ' : '.strtoupper($this->getStatusOptio($orderCollection['status']));?></b>
		</p>
	</div>
</div>
<ul class="items order-links">
	<li class="nav item current"><strong><?php echo __('Items Ordered') ?></strong></li>
	<?php if($this->getSellerorderInvoice()) { ?>
	<?php //if($orderCollection['state']=='complete'){?>
		<li class="nav item"><a href="<?php echo $pathInvoice; ?>"><?php echo __('Invoice') ?></a></li>
	<?php } ?>
</ul>
<div class="order-details-items ordered">
	<div class="table-wrapper order-items" >
		<table id="my-orders-table" class="data table table-order-items" summary="Items Ordered" >
			<caption class="table-caption"><?php echo __('Items Ordered') ?></caption>
			<thead>
				<tr>
					<th class="col name"><?php echo __('Product Name') ?></th>
					<th class="col sku"><?php echo __('SKU') ?></th>
					<th class="col price"><?php echo __('Price') ?></th>
					<th class="col qty"><?php echo __('Qty') ?></th>
						<th class="col tax"><?php echo __('Tax') ?></th>
					<th class="col amounnt"><?php echo __('Discount Amount') ?></th>
					<th class="col subtotal"><?php echo __('Subtotal') ?></th>
				</tr>
			</thead>
			<?php foreach ($productCollection as $productData){ ?>
			<?php //$productData = $product->getData(); ?>
				<tbody>
					<tr  id="order-item-row-36">
						<td class="col name" data-th="Product Name"><?php echo $productData['name']; ?></td>
						<td class="col sku" data-th="SKU"><?php echo $productData['sku']; ?></td>
						<td class="col price" data-th="Price">
							
								<span class="price"><?php echo $this->getCurrencyData($productData['price']); ?></span>
							
						</td>
						<td class="col qty" data-th="Qty">
						<ul class="items-qty">
							<li class="item">
							<span class="content"><?php echo intval($productData['qty_ordered']);  ?></span>
							</li>
						</ul>
						</td>
						<td class="col tax" data-th="Tax">
						
								<span class="tax"><?php echo  $this->getCurrencyData($productData['tax_amount']); ?></span>
						
						</td>
						<td class="col discount" data-th="Discount">
							
								<span class="discount"><?php echo $this->getCurrencyData($productData['discount_amount']); ?></span>
						
						</td>
						<td class="col subtotal" data-th="Subtotal">
							<strong>
								<span class="price"><?php echo $this->getCurrencyData($productData['row_total']); ?></span>
							</strong>
						</td>
					</tr>
				</tbody>
			<?php }?>
			<tfoot>
				<tr class="grand_total">
					<th class="mark" colspan="6" scope="row">
						<strong><?php echo __('Grand Total') ?></strong>
					</th>
					<td class="amount" data-th="Grand Total">
						<strong>
							<span class="price"><?php echo $this->getCurrencyData($this->getSellerOrderTotals()); ?></span>
						</strong>
					</td>
				</tr>
			<tr><td colspan="8"><?php echo __('Tax, Shipping, Discount of Order is excluded from Totals.'); ?></td></tr>
			</tfoot>
	<form style="margin-top:20px;"class="form productoption" action="<?php echo $this->getUrl('marketplace/index/changeSellerStatus', ['order_id' => $orderCollection['entity_id']]); ?>" id="product-form" method="post" enctype="multipart/form-data">
		<?php echo $this->getBlockHtml('formkey')?> 
    <fieldset class="fieldset" style="margin-bottom:15px;">
		<div class="fields">
			<div class="field seller_status required">			
				<label class="label" for="seller_status"><span>Change Seller Order Status</span></label>
				<div class="control">	
					<select name="seller_status" class="" id="seller_status" data-validate="{required:true}" aria-required="true">
					<?php $statuslist = $this->getStatusOptions() ?>
					<?php foreach($statuslist as $status) { ?>
						<option <?php if($status['value'] == $this->getSellerOrderStatus2()) { ?> selected="selected" <?php } ?> value="<?php echo $status['value']; ?>"><?php echo $status['label']; ?></option>
					<?php } ?>
					</select>
				</div>
			</div>
		</div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary pts-review-box">
            <button type="submit" title="Submit" class="action submit primary pts-newbtn-next">
                <span>Submit</span>
            </button>
        </div>
    </div>
</form>
		</table>
	</div>
</div>
<div class="block block-order-details-view">
	<div class="block-title">
		<strong><?php echo __('Order Information') ?></strong>
	</div>
	<div class="block-content">
	<?php if($shippingAddress) { ?>
		<div class="box box-order-shipping-address">
			<strong class="box-title">
				<span><?php echo __('Shipping Address') ?></span>
			</strong>
			<div class="box-content">
				<address>
					<?php echo $shippingAddress['firstname']." "; ?><?php echo $shippingAddress['lastname']; ?>
					<?php if($shippingAddress['street']!=''){echo '</br>'.$shippingAddress['street'];} ?></br>
					<?php echo $shippingAddress['city'].", "; ?><?php if($shippingAddress['region']!=''){echo $shippingAddress['region'].',';} ?><?php echo $shippingAddress['postcode']; ?></br>
					<?php echo $this->getCountryByCode($shippingAddress['country_id']); ?></br>
					<?php echo 'T: '.$shippingAddress['telephone']; ?>
				</address>
			</div>
		</div>
	<?php } ?>
		<div class="box box-order-shipping-address">
			<strong class="box-title">
				<span><?php echo __('Shipping Method') ?></span>
			</strong>
			<div class="box-content"><?php echo $orderCollection['shipping_description']; ?></div>
		</div>
		<div class="box box-order-billing-address">
			<strong class="box-title">
				<span><?php echo __('Billing Address') ?></span>
			</strong>
			<div class="box-content">
				<address>
					<?php echo $billingAddress['firstname']." "; ?><?php echo $billingAddress['lastname']; ?>
					<?php if($billingAddress['street']!=''){echo '</br>'.$billingAddress['street'];} ?></br>
					<?php echo $billingAddress['city'].", "; ?><?php if($billingAddress['region']!=''){echo $billingAddress['region'].',';} ?><?php echo $billingAddress['postcode']; ?></br>
					<?php echo $this->getCountryByCode($billingAddress['country_id']); ?></br>
					<?php echo 'T: '.$billingAddress['telephone']; ?></br>
				</address>
			</div>
		</div>
		<div class="box box-order-billing-method">
			<strong class="box-title">
				<span><?php echo __('Payment Method') ?></span>
			</strong>
			<div class="box-content">
				<dl class="payment-method checkmemo">
					<dt class="title"><?php echo $paymentMethod; ?></dt>
				</dl>
			</div>
		</div>
	</div>
</div>
