<!--
/**
* Purpletree_Marketplace printorder
* NOTICE OF LICENSE
*
* This source file is subject to the Purpletree License that is bundled with this package in the file license.txt.
* It is also available through online at this URL: https://www.purpletreesoftware.com/license.html
*
* @category    Purpletree
* @package     Purpletree_Marketplace
* @author      Purpletree Infotech Private Limited
* @copyright   Copyright (c) 2017
* @license     https://www.purpletreesoftware.com/license.html
*/
-->
<?php 
	$billingAddress=$this->getBillingAddress();
	$shippingAddress=$this->getShippingAddress();
	$paymentMethod=$this->getPaymentMethod();
	$cursymbol = $this->getCurrentCurrencySymbol();
	$orderCollection = $this->getOrderCollection();
	$productCollection = $this->getProductCollection();
	$pathShipment=$this->getShipmentUrl($orderCollection['entity_id']);
	$pathInvoice=$this->getInvoiceUrl($orderCollection['entity_id']);
	$pathPrint=$this->getPrintUrl($orderCollection['entity_id']);
?>
<div class="order-date datechng">
    <p><b><?php echo date('M d, Y',strtotime($orderCollection['created_at']));?></b></p>
</div>
<div class="order-details-items ordered">
	<div class="table-wrapper order-items" >
		<table id="my-orders-table" class="data table table-order-items" summary="Items Ordered" >
			<caption class="table-caption"><?php echo __('Items Ordered') ?></caption>
			<thead>
				<tr>
					<th class="col name"><?php echo __('Product Name') ?></th>
					<th class="col sku"><?php echo __('SKU') ?></th>
					<th class="col price"><?php echo __('Price') ?></th>
					<th class="col qty"><?php echo __('Qty') ?></th>
					<th class="col subtotal"><?php echo __('Subtotal') ?></th>
				</tr>
			</thead>
			<?php foreach ($productCollection as $product){ $productData=$product->getData();?>
				<tbody>
					<tr  id="order-item-row-36">
						<td class="col name" data-th="Product Name"><strong class="product name product-item-name"><?php echo $productData['name']; ?></strong></td>
						<td class="col sku" data-th="SKU"><?php echo $productData['sku']; ?></td>
						<td class="col price" data-th="Price">
							<span class="price-excluding-tax" data-label="Excl. Tax">
								<span class="cart-price">
									<span class="price"><?php echo $cursymbol.number_format($productData['price'], 2, '.', ' '); ?></span>
								</span>
							</span>
						</td>
						<td class="col qty" data-th="Qty">
						<ul class="items-qty">
							<li class="item">
							<span class="title"><?php echo __('Ordered') ?></span>
							<span class="content"><?php echo intval($productData['qty_ordered']);  ?></span>
							</li>
						</ul>
						</td>
						<td class="col subtotal" data-th="Subtotal">
							<span class="price-excluding-tax" data-label="Excl. Tax">
								<span class="cart-price">
									<span class="price"><?php echo $cursymbol.number_format($productData['row_total'], 2, '.', ' '); ?></span>
								</span>
							</span>
						</td>
					</tr>
				</tbody>
			<?php } ?>
			<tfoot>
				<tr  class="subtotal">
					<th class="mark" colspan="4" scope="row"><?php echo __('Subtotal') ?>  </th>
					<td class="amount" data-th="Subtotal">
						<span class="price"><?php echo $cursymbol.number_format($orderCollection['subtotal'], 2, '.', ' '); ?></span>
					</td>
				</tr>
				<?php if($orderCollection['shipping_amount']!=0){?>
				<tr class="shipping">
					<th class="mark" colspan="4" scope="row"><?php echo __('Shipping & Handling') ?> </th>
					<td class="amount" data-th="Shipping & Handling">
						<span class="price"><?php echo $cursymbol.number_format($orderCollection['shipping_amount'], 2, '.', ' '); ?></span>
					</td>
				</tr>
				<?php }?>
				<?php if($orderCollection['tax_amount']!=0){?>
				<tr class="tax">
					<th class="mark" colspan="4" scope="row"> <?php echo __('Tax') ?> </th>
					<td class="amount" data-th="Shipping & Handling">
						<span class="price"><?php echo $cursymbol.number_format($orderCollection['tax_amount'], 2, '.', ' '); ?></span>
					</td>
				</tr>
				<?php }?>
				<tr class="grand_total">
					<th class="mark" colspan="4" scope="row">
						<strong><?php echo __('Grand Total') ?></strong>
					</th>
					<td class="amount" data-th="Grand Total">
						<strong>
							<span class="price"><?php echo $cursymbol.number_format($orderCollection['grand_total'], 2, '.', ' '); ?></span>
						</strong>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
<div class="block block-order-details-view">
	<div class="block-title">
		<strong><?php echo __('Order Information') ?></strong>
	</div>
	<div class="block-content">
	<?php if($shippingAddress) { ?>
		<div class="box box-order-shipping-address">
			<strong class="box-title">
				<span><?php echo __('Shipping Address') ?></span>
			</strong>
			<div class="box-content">
				<address>
					<?php echo $shippingAddress['firstname']." "; ?><?php echo $shippingAddress['lastname']; ?>
					<?php if($shippingAddress['street']!=''){echo '</br>'.$shippingAddress['street'];} ?></br>
					<?php echo $shippingAddress['city'].", "; ?><?php if($shippingAddress['region']!=''){echo $shippingAddress['region'].',';} ?><?php echo $shippingAddress['postcode']; ?></br>
					<?php echo $this->getCountryByCode($shippingAddress['country_id']); ?></br>
					<?php echo 'T: '.$shippingAddress['telephone']; ?>
				</address>
			</div>
		</div>
	<?php } ?>
		<div class="box box-order-shipping-address">
			<strong class="box-title">
				<span><?php echo __('Shipping Method') ?></span>
			</strong>
			<div class="box-content"><?php echo $orderCollection['shipping_description']; ?></div>
		</div>
		<div class="box box-order-billing-address">
			<strong class="box-title">
				<span><?php echo __('Billing Address') ?></span>
			</strong>
			<div class="box-content">
				<address>
					<?php echo $billingAddress['firstname']." "; ?><?php echo $billingAddress['lastname']; ?>
					<?php if($billingAddress['street']!=''){echo '</br>'.$billingAddress['street'];} ?></br>
					<?php echo $billingAddress['city'].", "; ?><?php if($billingAddress['region']!=''){echo $billingAddress['region'].',';} ?><?php echo $billingAddress['postcode']; ?></br>
					<?php echo $this->getCountryByCode($billingAddress['country_id']); ?></br>
					<?php echo 'T: '.$billingAddress['telephone']; ?></br>
				</address>
			</div>
		</div>
		<div class="box box-order-billing-method">
			<strong class="box-title">
				<span><?php echo __('Payment Method') ?></span>
			</strong>
			<div class="box-content">
				<dl class="payment-method checkmemo">
					<dt class="title"><?php echo $paymentMethod; ?></dt>
				</dl>
			</div>
		</div>
	</div>
</div>
