<!--
/**
* Purpletree_Marketplace productview
* NOTICE OF LICENSE
*
* This source file is subject to the Purpletree License that is bundled with this package in the file license.txt.
* It is also available through online at this URL: https://www.purpletreesoftware.com/license.html
*
* @category    Purpletree
* @package     Purpletree_Marketplace
* @author      Purpletree Infotech Private Limited
* @copyright   Copyright (c) 2017
* @license     https://www.purpletreesoftware.com/license.html
*/
-->

<?php  	
	$currentProduct = $block->getCurrentProduct();
	$sellerId=$currentProduct->getSellerId();
	$storeData=$this->getStoreDetails($sellerId); 
	$reviewsavg=$this->getReviewsAvg($sellerId);
	$review=$this->getReviewsCount($sellerId);
	$isReviewVisible=$this->getReviewsVisible();

	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$attributeSet = $objectManager->create('Magento\Eav\Api\AttributeSetRepositoryInterface');
	$attributeSetRepository = $attributeSet->get($currentProduct->getAttributeSetId());
	$attribute_set_name = $attributeSetRepository->getAttributeSetName();



?>

	<?php if($this->isEnabled() ==1){ ?>
		
	<?php if($sellerId!=''){?>
		<div class="width-100 brdr">
			<h2 class="h2_detail">Seller Contact & Info</h2>
			<span class="custom_ml"><i class="far fa-user"></i><?php echo $storeData['store_name'];?></span>
			<span class="custom_ml"><i class="fas fa-mobile-alt"></i> <?php echo $storeData['store_phone'];?></span>		
			<p>		
			<form id="my_form" method="post" action="<?php echo $this->getUrl('marketplace/index/vendorcontact') ?>">
				<?php echo $this->getBlockHtml('formkey')?> 
				<input type="hidden" name="referral" value="<?php echo $currentProduct->getProductUrl();?>"/>
				<input type="hidden" name="sellerId" value="<?php echo $sellerId;?>"/>	
				
				<a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;">
					<?php if ($attribute_set_name=="Horses"):?>
						<button class="btn enquiry_detail"> <i class="far fa-envelope"></i> Send an inquiry to the seller  </button>
					
					<?php else:?>
						<button class="btn enquiry_detail"> <i class="far fa-envelope"></i> Contact Seller  </button>
					<?php endif;?>
				</a>		
			</form>	
			</p>
		</div>
	<?php } ?>
	<?php } ?>
