<!--
/**
* Purpletree_Marketplace shipmentview
* NOTICE OF LICENSE
*
* This source file is subject to the Purpletree License that is bundled with this package in the file license.txt.
* It is also available through online at this URL: https://www.purpletreesoftware.com/license.html
*
* @category    Purpletree
* @package     Purpletree_Marketplace
* @author      Purpletree Infotech Private Limited
* @copyright   Copyright (c) 2017
* @license     https://www.purpletreesoftware.com/license.html
*/
-->
<?php 
	$billingAddress=$this->getBillingAddress();
	$shippingAddress=$this->getShippingAddress();
	$paymentMethod=$this->getPaymentMethod();
	$cursymbol = $this->getCurrentCurrencySymbol();
	$orderCollection = $this->getOrderCollection();
	$productCollection = $this->getProductCollection();
	$pathInvoice=$this->getInvoiceUrl($orderCollection['entity_id']);
	$pathOrder=$this->getOrderUrl($orderCollection['entity_id']);
	$pathPrint=$this->getPrintUrl($orderCollection['entity_id']);
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $orderObject = $objectManager->get('\Magento\Sales\Model\Order')->load($orderCollection['entity_id']); 
	$shipmentCollection = $orderObject->getShipmentsCollection();
	foreach($shipmentCollection as $shipment):
		  $shipmentId =  $shipment->getId();
		break;
	endforeach;
?>
<div class="order-date datechng">
	<p id="orderdate"><b><?php echo __("Order Date :").' '.date('M d, Y',strtotime($orderCollection['created_at']));?></b></p>
	<p ><b><?php echo __("Order Status :").' '.strtoupper($orderCollection['status']);?></b>
	<a class="action print purpletree-print pts-order-statuslink" style="cursor:pointer" id="genpdf" ><span><?php  echo __('Print')  ?></span></a></p>
</div>
<ul class="items order-links">
	<li class="nav item"><a href="<?php echo $pathOrder; ?>"><?php echo __('Items Ordered') ?></a></li>
	<?php if($orderCollection['state']=='complete'){?>
	<li class="nav item"><a href="<?php echo $pathInvoice; ?>"><?php echo __('Invoices') ?></a></li>
	<?php }?> 
	<li class="nav item current"><strong><?php echo __('Order Shipments') ?></strong></li>
</ul>
<div class="dataprint" id="dataprint">
	<div class="order-details-items shipments">
		<div class="table-wrapper order-items-shipment" >
			<table id="my-shipment-table-9" class="data table table-order-items shipment" >
				<caption class="table-caption"><?php echo __('Items Shipped') ?></caption>
				<thead>
					<tr>
						<th class="col name"><?php echo __('Product Name') ?></th>
						<th class="col sku"><?php echo __('SKU') ?></th>
						<th class="col qty"><?php echo __('Qty Shipped') ?></th>
					</tr>
				</thead>
				<?php foreach ($productCollection as $product){ $productData=$product->getData();?>
					<tbody>
						<tr  id="order-item-row-3">
							<td class="col name" data-th="Product Name"><strong class="product name product-item-name"><?php echo $productData['name']; ?></strong></td>
							<td class="col sku" data-th="SKU"><?php echo $productData['sku']; ?></td>
							<td class="col qty" data-th="Qty Invoiced"><?php echo intval($productData['qty_shipped']);  ?></td>
						</tr>
					</tbody>
				<?php } ?>
			</table>
		</div>
	</div>
	<div class="block block-order-details-view">
		<div class="block-title">
			<strong><?php echo __('Order Information') ?></strong>
		</div>
		<div class="block-content">
		<?php if($shippingAddress) { ?>
			<div class="box box-order-shipping-address">
				<strong class="box-title">
					<span><?php echo __('Shipping Address') ?></span>
				</strong>
				<div class="box-content">
					<address>
						<?php echo $shippingAddress['firstname']." "; ?><?php echo $shippingAddress['lastname']; ?>
						<?php if($shippingAddress['street']!=''){echo '</br>'.$shippingAddress['street'];} ?></br>
						<?php echo $shippingAddress['city'].", "; ?><?php if($shippingAddress['region']!=''){echo $shippingAddress['region'].',';} ?><?php echo $shippingAddress['postcode']; ?></br>
						<?php echo $this->getCountryByCode($shippingAddress['country_id']); ?></br>
						<?php echo 'T: '.$shippingAddress['telephone']; ?>
					</address>
				</div>
			</div>
		<?php } ?>
			<div class="box box-order-shipping-address">
				<strong class="box-title">
					<span><?php echo __('Shipping Method') ?></span>
				</strong>
				<div class="box-content"><?php echo $orderCollection['shipping_description']; ?></div>
			</div>
			<div class="box box-order-billing-address">
				<strong class="box-title">
					<span><?php echo __('Billing Address') ?></span>
				</strong>
				<div class="box-content">
					<address>
						<?php echo $billingAddress['firstname']." "; ?><?php echo $billingAddress['lastname']; ?>
						<?php if($billingAddress['street']!=''){echo '</br>'.$billingAddress['street'];} ?></br>
						<?php echo $billingAddress['city'].", "; ?><?php if($billingAddress['region']!=''){echo $billingAddress['region'].',';} ?><?php echo $billingAddress['postcode']; ?></br>
						<?php echo $this->getCountryByCode($billingAddress['country_id']); ?></br>
						<?php echo 'T: '.$billingAddress['telephone']; ?></br>
					</address>
				</div>
			</div>
			<div class="box box-order-billing-method">
				<strong class="box-title">
					<span><?php echo __('Payment Method') ?></span>
				</strong>
				<div class="box-content">
					<dl class="payment-method checkmemo">
						<dt class="title"><?php echo $paymentMethod; ?></dt>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
<?php if(isset($shipmentId)) { ?>
<script type="text/javascript">
	require(['jquery', 'jquery/ui'], function($){ 
	jQuery(document).ready(function(){
		jQuery("#genpdf").click(function(){
			window.location.href= '<?php echo $this->getUrl('marketplace/index/shipmentpdf').'shipment_id/'.$shipmentId; ?>';
		});
	});
});
 </script>
<?php } ?>
