<!--
/**
* Purpletree_Marketplace shipmentgenerate
* NOTICE OF LICENSE
*
* This source file is subject to the Purpletree License that is bundled with this package in the file license.txt.
* It is also available through online at this URL: https://www.purpletreesoftware.com/license.html
*
* @category    Purpletree
* @package     Purpletree_Marketplace
* @author      Purpletree Infotech Private Limited
* @copyright   Copyright (c) 2017
* @license     https://www.purpletreesoftware.com/license.html
*/
-->
<?php

	$billingAddress=$this->getBillingAddress();
	$shippingAddress=$this->getShippingAddress();
	$paymentMethod=$this->getPaymentMethod();
	$cursymbol = $this->getCurrentCurrencySymbol();
	$orderCollection = $this->getOrderCollection();
	$productCollection = $this->getProductCollection();
	$pathShipment=$this->getShipmentUrl($orderCollection['entity_id']);
	$pathInvoice=$this->getInvoiceUrl($orderCollection['entity_id']);
	$pathPrint=$this->getPrintUrl($orderCollection['entity_id']);
?>
<div class="block block-order-details-view pts-margin-btm-zero">
	<div class="block-title">
		<strong><?php echo __('Order & Account Information ') ?></strong>
	</div>
	<div class="block-content">
		<div class="box box-order-shipping-address pts-order-box">
			<strong class="box-title">
				<span><?php echo __('Order #') ?><?php echo ' '.$orderCollection['increment_id']; ?></span>
			</strong>
			<div class="box-content">
				<address>
					<p><b><?php echo __('Order Date') ?></b><span><?php echo ' : '.date('M d, Y',strtotime($orderCollection['created_at'])); ?></span></p>
					<p><b><?php echo __('Order Status') ?></b><span><?php echo ' : '.strtoupper($orderCollection['status']); ?></span></p>
				</address>
			</div>
		</div>
		<div class="box box-order-shipping-address pts-order-box">
			<strong class="box-title">
				<span><?php echo __('Account Information') ?></span>
			</strong>
			<div class="box-content">
				<address>
					<p><b><?php echo __('Customer Name') ?></b><span>
					<?php if(isset($orderCollection['customer_firstname'])) { ?>
					<?php echo ' : '.$orderCollection['customer_firstname'].' '.$orderCollection['customer_lastname']; ?>
					<?php } else { ?>
					<?php echo $billingAddress['firstname']." "; ?><?php echo $billingAddress['lastname']; ?>
					<?php } ?>
					</span></p>
					<p><b><?php echo __('Email') ?></b><span><?php echo ' '.$orderCollection['customer_email']; ?></span></p>
				</address>
			</div>
		</div>
	</div>
</div>

<div class="block block-order-details-view pts-margin-btm-zero">
	<div class="block-title">
		<strong><?php echo __('Address Information ') ?></strong>
	</div>
	<div class="block-content">
		<div class="box box-order-billing-address pts-order-box">
			<strong class="box-title">
				<span><?php echo __('Billing Address') ?></span>
			</strong>
			<div class="box-content">
				<address>
					<?php echo $billingAddress['firstname']." "; ?><?php echo $billingAddress['lastname']; ?>
					<?php if($billingAddress['street']!=''){echo '</br>'.$billingAddress['street'];} ?></br>
					<?php echo $billingAddress['city'].", "; ?><?php if($billingAddress['region']!=''){echo $billingAddress['region'].',';} ?><?php echo $billingAddress['postcode']; ?></br>
					<?php echo $this->getCountryByCode($billingAddress['country_id']); ?></br>
					<?php echo 'T: '.$billingAddress['telephone']; ?></br>
				</address>
			</div>
		</div>
		<?php if($shippingAddress) { ?>
		<div class="box box-order-shipping-address">
			<strong class="box-title">
				<span><?php echo __('Shipping Address') ?></span>
			</strong>
			<div class="box-content">
				<address>
					<?php echo $shippingAddress['firstname']." "; ?><?php echo $shippingAddress['lastname']; ?>
					<?php if($shippingAddress['street']!=''){echo '</br>'.$shippingAddress['street'];} ?></br>
					<?php echo $shippingAddress['city'].", "; ?><?php if($shippingAddress['region']!=''){echo $shippingAddress['region'].',';} ?><?php echo $shippingAddress['postcode']; ?></br>
					<?php echo $this->getCountryByCode($shippingAddress['country_id']); ?></br>
					<?php echo 'T: '.$shippingAddress['telephone']; ?>
				</address>
			</div>
		</div>
		<?php } ?>
	</div>
</div>

<div class="block block-order-details-view pts-margin-btm-zero">
	<div class="block-title">
		<strong><?php echo __('Payment & Shipping Method') ?></strong>
	</div>
	<div class="block-content">
		
		<div class="box box-order-billing-address pts-order-box">
			<strong class="box-title">
				<span><?php echo __('Payment Information'); ?></span>
			</strong>
			<div class="box-content">
				<p><span><?php echo $paymentMethod; ?></span></p>
				<p><span><?php echo __('The order was placed using'); ?><?php echo ' '.$orderCollection['order_currency_code']; ?></span></p>
			</div>
		</div>
		<div class="box box-order-billing-method pts-order-box">
			<strong class="box-title">
				<span><?php echo __('Shipping Information') ?></span>
			</strong>
			<div class="box-content">
				<p><span><?php echo $paymentMethod; ?></span></p>
				<p><b><?php echo $orderCollection['shipping_description']; ?></b></p>
				<p><span><?php echo __('Total Shipping Charges'); ?><b><?php echo ' : '.$cursymbol.number_format($orderCollection['base_shipping_amount'], 2, '.', ' '); ?></b></p>
			</div>
		</div>
	</div>
</div>

<div class="block block-order-details-view">
	<div class="block-title">
		<strong><?php echo __('Items to Ship') ?></strong>
	</div>
	<div class="table-wrapper order-items" >
		<table id="my-orders-table" class="data table table-order-items" summary="Items Ordered" >
			<caption class="table-caption"><?php echo __('Items Ordered') ?></caption>
			<thead>
				<tr>
					<th class="col "><?php echo __('Product Name') ?></th>
					<th class="col "><?php echo __('SKU') ?></th>
					<th class="col "><?php echo __('Price') ?></th>
					<th class="col "><?php echo __('Qty') ?></th>
					<th class="col "><?php echo __('Row Total') ?></th>
				</tr>
			</thead>
			<?php foreach ($productCollection as $product){ $productData=$product->getData();?>
				<tbody>
					<tr  id="order-item-row-36">
						<td class="col " data-th="Product Name"><?php echo $productData['name']; ?></td>
						<td class="col " data-th="SKU"><?php echo $productData['sku']; ?></td>
						<td class="col " data-th="Price"><?php echo $cursymbol.number_format($productData['price'], 2, '.', ' '); ?></td>
						<td class="col " data-th="Qty"><?php echo intval($productData['qty_ordered']);  ?></td>
						<td class="col " data-th="Total"><?php echo $cursymbol.number_format($productData['row_total'], 2, '.', ' '); ?></td>
					</tr>
				</tbody>
			<?php }?>
		</table>
	</div>
</div>

<div class="block block-order-details-view pts-margin-btm-zero">
	<div class="block-title">
		<strong><?php echo __('Shipment Total') ?></strong>
	</div>
	<div class="block-content">
		<div class="box box-order-billing-method pts-order-box">
			<strong class="box-title">
				<span><?php echo __('Shipment Comments') ?></span>
			</strong>
			<div class="box-content">
				<form class="form seller" data-mage-init='{"validation": {}}' action="<?php echo $this->getUrl('*/*/shipmentsave') ?>" id="seller-form" method="post" data-hasrequired="* Required Fields" novalidate="novalidate" enctype="multipart/form-data" >
					<?php echo $this->getBlockHtml('formkey')?> 
					<fieldset class="fieldset" >
						<div class="fields">
							<div class="field review_description ">
								<label class="label" for="shipment_comment"><span><?php echo __('Comment Text');?></span></label>
								<div class="control">
									 <textarea name="shipment_comment" id="shipment_comment" title="<?php echo __('Comment Text');?>" value="" class="input-text" type="text" cols="5" rows="3"></textarea>
								</div>
								<input name="order_id" id="order_id" value="<?php echo $orderCollection['entity_id'];?>" type="hidden">
							</div>
						</div>
					</fieldset>
					<div class="actions-toolbar">
						<div class="primary">
							<input name="hideit" id="hideit" value="" type="hidden">
							<button type="submit" title="<?php echo __('Submit Shipment');?>" class="action submit primary pts-newbtn-next">
								<span><?php echo __('Submit Shipment');?></span>
							</button>
						</div>
					</div>
				</form>	
			</div>
		</div>
	</div>
</div>