<?php
$sellerCollection = $this->getAllStores();
$imageHelper = $this->helper(\Magento\Catalog\Helper\Image::class);
$placeholderImageUrl = $imageHelper->getDefaultPlaceholderUrl('image');
$imageUrl = $this->getImageUrl();
/* $dd = $sellerCollection->getData();
echo "<pre>";
print_r($dd);
die;  */
?>
<div class="col-12">
<?php
echo $this->getLayout()
->createBlock('Magento\Cms\Block\Block')
->setBlockId('horse-equipments')
->toHtml();
?>   
</div>
	<div class="pts-row">
		<!--<form  action="" name="searchseller" id="searchseller" method="get" >-->
		<!--	<div class="pts-col-md-4 pts-col-sm-4">-->
		<!--	<div class="search_seller">-->
		<!--		<div class="pts-input-group" id="pts-search"  style="display:flex;">-->
		<!--			<input type="text" class="pts-form-control pts-input-lg search" placeholder="Search" value="<?php echo $this->getsellersearchpost(); ?>" name="searchseller">-->
					<!--<span class="pts-input-group-btn"><button class="pts-btn pts-btn-default pts-btn-lg" type="button"><i class="fa fa-search"></i></button></span>-->
		<!--			<div class="actions">-->
  <!--              <button type="submit" title="Search" class="action search nxt_btn">-->
  <!--                  <span>Search</span>-->
  <!--              </button>-->
  <!--          </div>-->
		<!--		</div>-->
		<!--	</div>-->
		<!--	</div>-->
        
		<!--  <div class="pts-col-md-5 pts-col-sm-5">-->
		<!--</div>-->
      <!--<div class="pts-col-md-3 pts-col-xs-6 pts-col-sm-3" style="float: right;">
         <div class="toolbar-sorter sorter">
			<label class="sorter-label" for="sorter">Sort By</label>
			<select name="sortorderby" id="sorter" data-role="sorter" class="sorter-options">
							<option value="name">Seler Name</option>
							<option value="price">Seller Products</option>
					</select>
					<input type="button" title="Set Descending Direction" href="#" class="action sorter-action sort-asc" data-role="direction-switcher" data-value="desc" title="Set Descending Direction" />
				
			</div>
        </div>-->
		<!--</form>-->
        </div>
        <div class="pts-clear"></div>
 	<?php if(count($sellerCollection)):?>
	   <?php foreach ($sellerCollection as $seller){ ?>
	<div class="purpletree_seller pts-col-sm-3 pts-col-md-3 pts-col-xs-6" style="border:none !important;">
			<a href="<?php echo ($seller->getStoreUrl())?$this->getUrl().$seller->getStoreUrl():$this->getUrl('marketplace/index/storeview',['store'=>$seller->getEntityIdpts()]); ?>"><img style="max-width: 190px;"src="<?php echo ($seller->getStoreLogo())?$imageUrl.$seller->getStoreLogo():$placeholderImageUrl; ?>" alt="" title="" class="img-thumbnail"></a>
		
			<?php $sellerProducts = $this->getSellerProducts($seller->getSellerId()); ?>
		
		
		</div>
	   <?php } ?>
		<?php if ($this->getPagerHtml()): ?>
			<div class="order-products-toolbar toolbar bottom pts-pagination"><?php echo $this->getPagerHtml(); ?></div>
		<?php endif ?>
		<?php else: ?>
    <div class="message info empty notickets" style="margin-top:20px;"><span><?php echo __('No Seller Found'); ?></span></div>
<?php endif ?>
<script type="text/javascript">
require(['jquery'], function($,modal){ 
	$(document).ready(function() {
	  $('#cars').on('change', function() {
		 document.forms[myFormName].submit();
	  });
	});
});
</script>