<?php
$productHelper = $this->helper('Sigosoft\ProductDetails\Helper\Data');
$quickviewHelper = $this->helper('Sigosoft\Quickview\Helper\Data');
$items = $productHelper->loadProducts($this->getProducts());
$iterator = 0;
$limit = 5;
?>

<?php if (count($items) > 0): ?> 
<div class="container-fluid">
    <div class="slider">
        <div class="row no-gutters-pd ">
            <?php foreach ($items as $item): ?>
                    <?php if($iterator==0):?>
                        <div class="col-md-6 col-sm-12 no-gutters-pd pdng pos_relative">
                            <a href="<?= $item->productUrl ?>">
                                <div class="details_product">
                                <h2><?= $item->name ?></h2>
                                <div class="price_slid"><?= $item->finalPrice; ?></div>
                                </div>
                                <img  src="<?= $item->imageUrl ?>" alt=""/>
                            </a>
                        </div>
                        <?php $iterator = 1;$index=0;?>
                    <?php endif ?>
                    
            <?php endforeach ?>
            
            <div class="col-md-6 col-sm-12 no-gutters-pd">
                <div class="row no-gutters-pd"> 
                        <?php foreach ($items as $item): ?>
                            <?php if ($iterator <= $limit && $index != 0) : ?>  
                                <div class="col-md-6 col-sm-6 no-gutters-pd pos_relative">
                                    <a href="<?= $item->productUrl ?>">
                                        <div class="details_product">
                                        <h2><?= $item->name ?></h2>
                                        <div class="price_slid"><?= $item->finalPrice; ?></div>
                                        </div>
                                        <img  src="<?= $item->imageUrl ?>" alt=""/>
                                    </a>
                                </div>  
                            <?php endif ?>
                            <?php $iterator++;$index=1; ?>
                        <?php endforeach ?> 
                </div>
            </div>              

                
        </div>
    </div>
</div>
<?php endif?>

