<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()) : ?>
	<!-- <ul class="navbar-nav"> -->
        <li class="nav-item"><a class="nav-link" href="<?php echo $this->getUrl("customer/account");?>"><?php echo __('My Account')?></a></li>
        <li class="nav-item"><a class="nav-link">/</a></li>
        <li class="nav-item"> <a class="nav-link" href="<?php echo $this->getUrl("customer/account/logout");?>"><?php echo __('Logout')?></a></li>
        
    <!-- </ul> -->
<?php else: ?>
	<!-- <ul class="navbar-nav"> -->
    <li class="nav-item"> <a class="nav-link" href="<?php echo $this->getUrl("customer/account/login");?>"><?php echo __('Login/Register')?></a></li>
        
    <!-- </ul> -->
<?php endif;?>