<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="container-fluid no-gutters-pd">
    <div class="container">
<?php
    $_orders = $block->getOrders();
    $count = count($_orders);
?>
        <div class="recent_order row mt-5">
            <div class="col-12"> <h2>My recent orders</h2></div>
        </div> 
            <!-- </?php if ($count > 0): ?>
                <a class="action view" href="</?= /* @escapeNotVerified */ $block->getUrl('sales/order/history') ?>">
                    <span></?= /* @escapeNotVerified */ __('View All') ?></span>
                </a>
            </?php endif; ?> -->
        
        
        <?= $block->getChildHtml() ?>
        <?php if ($count > 0): ?>
            
                <table class="table mt-3" id="my-orders-table">
                    
                    
                        <tr>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Ship To</th>
                            <th>Order Total</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    
    
                        <?php foreach ($_orders as $_order): ?>
                            <tr>
                                <td><?= /* @escapeNotVerified */ $_order->getRealOrderId() ?></td>
                                <td><?= /* @escapeNotVerified */ $block->formatDate($_order->getCreatedAt()) ?></td>
                                <td><?= $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
                                <td><span class="amnt"><?= /* @escapeNotVerified */ $_order->formatPrice($_order->getGrandTotal()) ?></span></td>
                                <td><?= /* @escapeNotVerified */ $_order->getStatusLabel() ?></td>
                                <td>
                                    <a href="<?= /* @escapeNotVerified */ $block->getViewUrl($_order) ?>" class="action view">
                                        <span><?= /* @escapeNotVerified */ __('View') ?></span>
                                    </a>
                                    <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                                        <a href="#" data-post='<?php /* @escapeNotVerified */ echo
                                        $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                            ->getPostData($block->getReorderUrl($_order))
                                        ?>' class="action order">
                                            <span><?= /* @escapeNotVerified */ __('Reorder') ?></span>
                                        </a>
                                    <?php endif ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    
                </table>
            
        <?php else: ?>
            <div class="message info empty"><span><?= /* @escapeNotVerified */ __('You have placed no orders.') ?></span></div>
        <?php endif; ?>
        
    </div>
</div>
