<?php
$productHelper = $this->helper('Sigosoft\ProductDetails\Helper\Data');
$quickviewHelper = $this->helper('Sigosoft\Quickview\Helper\Data');
$items = $productHelper->loadProducts($this->getProducts());
$iterator = 0;
$limit = 12;
?>
<?php if (count($items) > 0): ?>
<div class="more-info-tab clearfix whole white_bg shadow">
    <div class="col-xs-12 col-sm-12 col-md-12">
          <h3 class="new-product-title pull-left">You May Like</h3>
          <a href="<?= $this->getUrl("most-viewed")?>" class="view_all">View all</a>
    </div>
</div>
<div class="owl-carousel home-owl-carousel custom-carousel owl-theme deal_blk" data-item="7">
    <?php foreach ($items as $item): ?>
        <?php if ($iterator < $limit) { ?>
            <div class="item item-carousel">
                <div class="products">
                    <div class="product">
                        <div class="product-image">
                            <div class="image">
                                <a href="<?= $item->productUrl ?>">
                                    <img src="<?= $item->imageUrl ?>"/>
                                </a>
                            </div>
                            <!-- /.image -->
                        </div>
                        <!-- /.product-image -->
                        <div class="product-info text-left">
                            <h3 class="name"><a href="<?= $item->productUrl ?>"><?= $item->name ?></a></h3>
                            <div class="saleup"> From <?= $item->finalPrice; ?></div>
                            <div class="description"><?= $item->name ?></div>
                        </div>
                        <!-- /.product-info -->
                        <!-- /.cart -->
                    </div>
                    <!-- /.product -->
                </div>
            </div>
        <?php } ?>
        <?php $iterator++ ?>
    <?php endforeach ?>
</div>
    
<?php endif?>
