<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$attributeSet = $objectManager->create('Magento\Eav\Api\AttributeSetRepositoryInterface');
$attributeSetRepository = $attributeSet->get($product->getAttributeSetId());
$attribute_set_name = $attributeSetRepository->getAttributeSetName();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$email = $customerSession->getCustomer()->getEmail();
$name = $customerSession->getCustomer()->getName();


?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>

<?php if ($attribute_set_name=="Doctor" || $attribute_set_name=="Services" || $attribute_set_name=="Training" ):?>
    <div class="hidden">
        <form>                
                <input type="submit" value="empty" />
        </form>
    </div>
    <div class="width-100 brdr">
        <h2 class="h2_detail">BOOKING</h2>
    <form action="<?php echo $block->getBaseUrl().'cartdisable/index/post/';?>" name="cartdisabledata" method="post">
                <div class="hidden">
                        
                                <?php $url=  $product->getProductUrl(); ?>
                                <input name="url" value="<?= $url;?>">
                                <input name="email" value="<?= $email;?>">
                                <input name="name" value="<?= $name;?>">                 
                </div>    
                Date: <input type="date" name="date">       

                <button class="btn enquiry_detail">BOOK FOR THIS DATE</button>
    </form>
    </div>
<?php endif; ?>
<?php if ($attribute_set_name!="Products"):?>
    <div class="hidden">
        <form>                
                <input type="submit" value="empty" />
        </form>
    </div>
    <form action="<?php echo $block->getBaseUrl().'cartdisable/index/post/';?>" name="cartdisabledata" method="post">
                <div class="hidden">
                        
                                <?php $url=  $product->getProductUrl(); ?>
                                <input name="url" value="<?= $url;?>">
                                <input name="email" value="<?= $email;?>">
                                <input name="name" value="<?= $name;?>">                 
                </div>
    </form>
<?php endif; ?>
<?php if ($attribute_set_name=="Products"):?>
    <?php if ($_product->isSaleable()): ?>
        <div class="width-100 brdr">
            <div class="fieldset"  style="display:flex;    padding: 15px 0px;">
                <?php if ($block->shouldRenderQuantity()): ?>
                <div class="field qty" style="display:flex; margin-bottom: 0px;">
                    <label class="label" for="qty" style="margin-right:10px;"><span><?= /* @escapeNotVerified */ __('Qty') ?></span></label>
                    <div class="control">
                        <input type="number"
                            name="qty"
                            id="qty"
                            value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>"
                            title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                            class="input-text qty"
                            data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                            />
                    </div>
                </div>
                <?php endif; ?>
                <div class="actions" style="display:flex;margin-left:10px;">
                    <button type="submit"
                            title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                            class="btn enquiry_detail"
                            style="margin-top:0px;"
                            id="product-addtocart-button">
                        <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
                    </button>
                    <?= $block->getChildHtml('', true) ?>
                </div>
            </div>
        </div>
    <?php endif; ?>
    <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "Magento_Catalog/js/validate-product": {}
            }
        }
    </script>
<?php endif; ?>


