<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login\Info $block */
?>
<?php if ($block->getRegistration()->isAllowed()): ?>

    <div class="row">
        <div class="col-12">
            <h2>New Customers</h2>
            <span>Creating an account has many benefits: check out faster, keep more than one address, track orders and more.</span>
        </div>
    </div>
    <div class="form-group">
        <form action="<?= $block->escapeUrl($block->getCreateAccountUrl()) ?>">
            <button class="nxt_btn">CREATE AN ACCOUNT</button>
        </form>
    </div>

<?php endif; ?>
