<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseurl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
?>
<div class="container-fluid no-gutters-pd">
 <div class="container">
   <div class="row">
   <div class="col-12">
    <div class="headings" style="color:#fff;">
     <h2>Featured Horsemall Series</h2>
     <!--<span>Series</span>-->
     <div class="tagline">We carry everything you’ll need to care for your horses, including the tack and supplies to match your specific riding discipline.</div>
    </div>
   </div>
  </div>

     <div class="row mt-2">
       <div class="col-md-4 mb-5">
           <div class="link_box bx">
            <h2>Horse Classifieds</h2>
            <div class="iconss"><img src="<?php echo $this->getViewFileUrl('images/1.png');?>"/></div>
            <span>Buy/Sell Your Horses</span>
            <a href="<?= $baseurl?>horse-classifieds" class="link_mr">MORE</a>
           </div>
       </div>
       <div class="col-md-4 mb-5">
            <div class="link_box bx">

            <h2>Horse Equipment</h2>
            <div class="iconss"><img src="<?php echo $this->getViewFileUrl('images/2.png');?>"/></div>
            <span>Buy/Trade Horse Equipment</span>
            <a href="<?= $baseurl?>marketplacesellers" class="link_mr">MORE</a>
            </div>
       </div>
       <div class="col-md-4 mb-5">
            <div class="link_box bx">
              <h2>Nutrition Product</h2>
              <div class="iconss"><img src="<?php echo $this->getViewFileUrl('images/3.png');?>"/></div>
            <span>Buy/Trade Nutrition Product</span>
            <a href="<?= $baseurl?>products/nutrition" class="link_mr">MORE</a>
            </div>
       </div>
       <div class="col-md-4 mb-5">
            <div class="link_box bx">
              <h2>Services</h2>
              <div class="iconss"><img src="<?php echo $this->getViewFileUrl('images/4.png');?>"/></div>
            <span>Service Products List</span>
            <a href="<?= $baseurl?>services" class="link_mr">MORE</a>
            </div>
       </div>
       <div class="col-md-4 mb-5">
            <div class="link_box bx">
              <h2>Training</h2>
              <div class="iconss"><img src="<?php echo $this->getViewFileUrl('images/1.png');?>"/></div>
            <span>Training </span>
            <a href="<?= $baseurl?>training" class="link_mr">MORE</a>
            </div>
       </div>
       <div class="col-md-4 mb-5">
            <div class="link_box bx">
              <h2>Stable Management</h2>
              <div class="iconss"><img src="<?php echo $this->getViewFileUrl('images/2.png');?>"/></div>
            <span>Stable Management</span>
            <a href="</?= $baseurl?>doctor" class="link_mr">MORE</a>
            </div>
       </div>
     </div>


 </div>
</div>