<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="width-100 brdr">
    <?php /* @var $block \Magento\Catalog\Block\Product\View\AbstractView */?>
    <?php $_product = $block->getProduct() ?>
    <h2 class="h2_detail">Information</h2>
    <?php
    $attributes = $_product->getAttributes();
    foreach ($attributes as $attribute) {
        if ($attribute->getIsVisibleOnFront()) {
            $label = $attribute->getFrontend()->getLabel($_product);
            $value = $attribute->getFrontend()->getValue($_product); 
            if($label!="Created Date" && $label!="Expiring Date" && $label!="Price"){
            if($value!=null){?>
                <div class="block_product_detail"> <span><?=$label ?></span> <span><?=$value ?></span> </div>

            <?php }}
        }
    }
    
    ?>
</div>
<div class="width-100 brdr">
    <?php
    $attributes = $_product->getAttributes();
    foreach ($attributes as $attribute) {
        if ($attribute->getIsVisibleOnFront()) {
            $label = $attribute->getFrontend()->getLabel($_product);
            $value = $attribute->getFrontend()->getValue($_product); 
            if($label=="Price"){
            if($value!=null){?>
                <div class="h2_detail"> <span class="bhd"><?=$label ?></span> : <span>BHD <?=$value ?></span> </div>

            <?php }}
        }
    }
    
    ?>
</div>