<div class="col-12 mt-5">
<?php
$slides = $this->getSlides();
?>
<?php if(count($slides)>0):?>
<div class="bx-loading"></div>
<ul class="bxslider">    
<?php foreach ($slides as $slide):
        $status = $slide->getStatus();
    ?>
    <?php if($status == 1): ?>
    <li><a href="<?php echo $this->getLink($slide); ?>"><img src="<?php echo $this->getMediaUrl().'sigosoft/sliderad/slides/image'.$slide->getSlide();?>" title="<?php echo ($slide->getTitle());?>" alt="<?php echo ($slide->getTitle());?>"/></a></li>
    <?php endif; ?>
    <?php endforeach;?>
</ul>
</div>
<script type="text/javascript"> 
    require(['jquery', 'bxslider'],function($){ 
        $(document).ready(function() {
       $('.bx-loading').fadeOut(1000);
       $('.bxslider').show().bxSlider();
        
        });
    }); 
   
</script>
<?php endif ?>
