<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Address $block */
?>
<div class="col-12">
    <address>
            <?= $block->getPrimaryShippingAddressHtml() ?>
    </address>
</div>
<div class="col-12">
    <a href="<?= $block->escapeUrl($block->getPrimaryShippingAddressEditUrl()) ?>" data-ui-id="default-shipping-edit-link">Edit Address</a>
</div>
            <!-- <div class="box-actions">
                
            </div> -->
       
