<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>
<div class="col-12"><span>Email:</span>
    <span>
        <?= $block->escapeHtml($block->getCustomer()->getEmail()) ?>
    </span>
</div>
    
<div class="col-12">
    <a href="<?= $block->escapeUrl($block->getUrl('customer/account/edit')) ?>">
        Edit
    </a>
    <a href="<?= $block->escapeUrl($block->getChangePasswordUrl()) ?>">
        Change Password
    </a>
</div>
        
