<div class="container-fluid no-gutters-pd bg pt-3 pb-3">
  <div class="container">
   <div class="row">
    <div class="col-4"><a href="index.html" class="logo"><img src="img/logo.png" alt=""></a></div>
    <div class="col-8">
     <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav">
        <li class="nav-item active">
         <a class="nav-link" href="#">Horses <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
         <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" href="#">Book a Service</a>
        </li>
       </ul>
      </div>
     </nav>
    </div>
   </div>
  </div>
 </div>
 <div class="container-fluid no-gutters-pd bg1 pt-3 pb-3">
  <div class="container">
   <div class="row">
     <div class="col-md-3">
    <input type="text" name="" placeholder="Keyword" class="search_inp">
     </div>
     <div class="col-md-3">
      <select name="" id="" class="search_select">
        <option value="">City</option>
        <option value="">Riffa</option>
        <option value="">Manama</option>
        <option value="">Muharraq</option>
        <option value="">Budaiya</option>
        <option value="">Galali</option>
      </select>
    </div>
     <div class="col-md-3">
        <select name="" id="" class="search_select">
          <option value="">Breed</option>
          <option value="">Quarter Horse </option>
          <option value="">Thoroughbred</option>
          <option value="">Arabian</option>
          <option value="">Mustang</option>
          <option value="">Paint (Tobiano)</option>
        </select>
     </div>
     <div class="col-md-2">
         <select name="" id="" class="search_select">
            <option value="">Disciplines</option>
            <option value="">Trail Horse</option>
            <option value="">All Around</option>
            <option value="">Dressage</option>
            <option value="">Beginner/Family </option>
            <option value="">Hunter </option>

         </select>

     </div>
     <div class="col-md-1">

 <button class="search_smbt"><i class="fa fa-search"></i></button>
     </div>
   </div>
  </div>
 </div>
 <div class="container-fluid">
  <div class="slider">
   <div class="row no-gutters-pd ">
    <div class="col-md-6 no-gutters-pd pdng pos_relative">
          <div class="details_product">
            <h2>Sweet gray pony </h2>
            <span>Washington, US</span>
            <div class="price_slid">BD 5000</div>

          </div>
      <img src="img/slide_big.png" /></div>
    <div class="col-md-6 no-gutters-pd">
     <div class="row no-gutters-pd">
      <div class="col-md-6 no-gutters-pd pos_relative">
       <div class="details_products">
            <h2>Sweet gray pony </h2>
            <span>Washington, US</span>
            <div class="price_slid">BD 5000</div>

          </div>

        <img src="img/slide_small.png" /></div>
      <div class="col-md-6 no-gutters-pd pos_relative">
        <div class="details_products">
            <h2>Sweet gray pony </h2>
            <span>Washington, US</span>
            <div class="price_slid">BD 5000</div>

          </div>

        <img src="img/slide_small.png" /></div>
      <div class="col-md-6 no-gutters-pd pos_relative">
         <div class="details_products">
            <h2>Sweet gray pony </h2>
            <span>Washington, US</span>
            <div class="price_slid">BD 5000</div>

          </div>

        <img src="img/slide_small.png" /></div>
      <div class="col-md-6 no-gutters-pd pos_relative">

           <div class="details_products">
            <h2>Sweet gray pony </h2>
            <span>Washington, US</span>
            <div class="price_slid">BD 5000</div>

          </div>
        <img src="img/slide_small.png" /></div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="container-fluid no-gutters-pd">
  <div class="container">
     <div class="row">
       <div class="col-12">
   <div class="headings">
    <h2>Popular Categories</h2>
    <span>Categories</span>
    <div class="tagline">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</div>
   </div>
   </div>
 </div>
   <div class="row mt-2">
    <div class="col-md-3 col-sm-6 col-12">
     <div class="link_box">
      <h2>Breeds</h2>
      <ul>
        <li><a href="#">Quarter Horse <span>(292)</span></a></li>
        <li> <a href="#">Thoroughbred <span>(166)</span></a></li>
        <li><a href="#">Arabian <span>(42)</span></a></li>
        <li><a href="#"> Mustang <span>(31)</span></a></li>
        <li><a href="#">Paint (Tobiano) <span>(29)</span></a></li>
      </ul>
      <a href="#" class="all_links">All Breeds</a>
     </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
     <div class="link_box">
      <h2>Disciplines</h2>
      <ul>
        <li><a href="#">Trail Horse <span>(228)</span></a></li>
        <li> <a href="#">All Around <span>(222)</span></a></li>
        <li> <a href="#">Dressage <span>(129)</span></a></li>
        <li> <a href="#">Beginner/Family <span>(80)</span></a></li>
        <li> <a href="#">Hunter <span>(80)</span></a></li>
      </ul>
      <a href="#" class="all_links">All Disciplines</a>
     </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
     <div class="link_box">
      <h2>City</h2>
      <ul>
        <li><a href="#">Riffa <span>(89)</span></a></li>
        <li><a href="#">Manama <span>(85)</span></a></li>
        <li><a href="#">Muharraq <span>(64)</span></a></li>
        <li><a href="#">Budaiya <span>(59)</span></a></li>
        <li><a href="#">Galali <span>(40)</span></a></li>
      </ul>
      <a href="#" class="all_links">All Cities</a>
     </div>
    </div>

     <div class="col-md-3 col-sm-6 col-12">
     <div class="link_box">
      <h2>Prices</h2>
      <ul>
        <li><a href="#">Under $2,500 <span> (380)</span></a></li>
        <li><a href="#">$2,500 to $5,000 <span>(151)</span></a></li>
        <li><a href="#">$5,000 to $7,500 <span>(94)</span></a></li>
        <li><a href="#">$7,500 to $10,000 <span>(50)</span></a></li>
        <li><a href="#">Over $10,000 <span>(140)</span></a></li>
      </ul>
     </div>
    </div>
   </div>

   <div class="row mt-5">
       <div class="col-12">
   <div class="headings">
    <h2>Popular Products</h2>
    <span>Products</span>
    <div class="tagline">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</div>
   </div>
   </div>
 </div>
<div class="row">
  <ul class="product_listing">
    <li>
      <div class="products">
        <div class="product_cart"><a href="#"><i class="fas fa-shopping-cart"></i></a></div>

         <img src="img/product1.jpg"/>
          <span><a href="#">Nemo enim ipsam</a></span>
          <span>BD200</span>
      </div>

    </li>
    <li>
      <div class="products">
        <div class="product_cart"><a href="#"><i class="fas fa-shopping-cart"></i></a></div>

         <img src="img/product2.jpg"/>
          <span><a href="#">Nemo enim ipsam</a></span>
          <span>BD200</span>
      </div>

    </li>
    <li>
      <div class="products">
        <div class="product_cart"><a href="#"><i class="fas fa-shopping-cart"></i></a></div>

         <img src="img/product3.jpg"/>
          <span><a href="#">Nemo enim ipsam</a></span>
          <span>BD200</span>
      </div>

    </li>
    <li>
      <div class="products">
        <div class="product_cart"><a href="#"><i class="fas fa-shopping-cart"></i></a></div>

         <img src="img/product4.jpg"/>
          <span><a href="#">Nemo enim ipsam</a></span>
          <span>BD200</span>
      </div>

    </li>
    <li>
      <div class="products">
        <div class="product_cart"><a href="#"><i class="fas fa-shopping-cart"></i></a></div>

         <img src="img/product1.jpg"/>
          <span><a href="#">Nemo enim ipsam</a></span>
          <span>BD200</span>
      </div>

    </li>
    <li>
      <div class="products">
        <div class="product_cart"><a href="#"><i class="fas fa-shopping-cart"></i></a></div>

         <img src="img/product2.jpg"/>
          <span><a href="#">Nemo enim ipsam</a></span>
          <span>BD200</span>
      </div>

    </li>
    <li>
      <div class="products">
        <div class="product_cart"><a href="#"><i class="fas fa-shopping-cart"></i></a></div>
         <img src="img/product3.jpg"/>
          <span><a href="#">Nemo enim ipsam</a></span>
          <span>BD200</span>
      </div>

    </li>
    <li>
      <div class="products">
        <div class="product_cart"><a href="#"><i class="fas fa-shopping-cart"></i></a></div>

         <img src="img/product4.jpg"/>
          <span><a href="#">Nemo enim ipsam</a></span>
          <span>BD200</span>
      </div>

    </li>

  </ul>

</div>

  </div>
 </div>


<footer>
   <div class="container-fluid no-gutters-pd bg1 pt-5 pb-5">
  <div class="container">
   <div class="row">
     <div class="col-md-6 col-12">
      <span class="slign_uphead">Sign up for newsletter</span>
      <span class="slign_para">Get the latest deals and special offers</span>
     </div>
     <div class="col-md-6 col-12"> 
       <form class="form-inline form_subscribe">
  <div class="form-group col-12 flex-nowrap">
    <label for="staticEmail2" class="sr-only">Email</label>
    <input type="email" class="form-control-plaintext" id="staticEmail2" placeholder="Enter your email">
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </div>
  
</form>

     </div>
   </div>

    </div>
  </div>

<div class="container-fluid no-gutters-pd bg3 pt-5">
 <div class="container">
  <div class="row">
    <div class="col-md-3 footer_links">
       <h2>Information</h2>
       <ul>
          <li><a href="#">Delivery Information</a></li>
          <li><a href="#">Discount</a></li>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Terms & Condition</a></li>
       </ul>

    </div>
    <div class="col-md-3 footer_links">
        <h2>Insider</h2>
       <ul>
          <li><a href="#">Delivery Information</a></li>
          <li><a href="#">Discount</a></li>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Terms & Condition</a></li>
       </ul>
    </div>
    <div class="col-md-3 footer_links">
         <h2>Service</h2>
       <ul>
          <li><a href="#">Delivery Information</a></li>
          <li><a href="#">Discount</a></li>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Terms & Condition</a></li>
       </ul>

    </div>
    <div class="col-md-3 footer_links">
        <h2>Contact us</h2>
       <address>
          <span>support@horsemall.com</span>
          <span>(800) 0123 456 789</span>
<div class="mb-2">&nbsp;</div>
          <span>Horse Mall, </span>
          <span>12/34 - West 21st Street, </span>
          <span>New York, USA</span>
       </address>
       <ul class="social_link">
         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
         <li><a href="#"><i class="fab fa-instagram"></i></a></li>
       </ul>
     
    </div>

  </div>
</div>
  
</div>



<div class="container-fluid no-gutters-pd bg1 pt-3 pb-3">
<div class="container text-center">
<strong>© 2019 Horse Mall.</strong>
</div></div>


</footer>