<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$catId = 3; // Parent Category ID
$subcategory = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
$subcats = $subcategory->getChildrenCategories();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
</div>
</div>
<div class="row mt-2">
<?php
foreach ($subcats as $subcat) {
$_category = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
$_outputhelper = $this->helper('Magento\Catalog\Helper\Output');
$subcaturl = $subcat->getUrl();
$_imgHtml = '';
if ($_imgUrl = $_category->getImageUrl()) {
$_imgHtml = '<img src="' . $_imgUrl . '" />';
$_imgHtml = $_outputhelper->categoryAttribute($_category, $_imgHtml, 'image');
/* @escapeNotVerified */

} ?>
<div class=" col-md-4 col-sm-6 col-12" style="margin-bottom:30px;">
    <a  class="link_box" href="<?php echo $subcaturl ?>">
            <h4><?php echo $subcat->getName(); ?></h4>
    </a>
    </div>
<?php } ?>
</div>

