<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseurl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

$breed = $block->getBreedList();
$city = $block->getCityList();
$disciplins = $block->getDisciplinsList();
?>
<div class="row">
        <div class="col-md-3">
            <input type="text" name="Keyword" placeholder="Keyword" class="search_inp" id="keyword">
        </div>
        <div class="col-md-3">
                <select id = "breeds" name="Breed" class="search_select breed">
                <option selected="selected">Breed</option>
                    <?php foreach($breed as $option) {?>
                       <?php if($option['value']){?>
                        <option value = "<?=$option['value'];?>"><?php echo $option['label'];?></option>
                    <?php }}?> 
                </select>
            
        </div>
        <input type="hidden" name="hiddenkey" id="hiddenkey">
        <div class="col-md-3">
                <select id = "city" name="City" class="search_select city">
                <option selected="selected">City</option>
                    <?php foreach($city as $option) {?>
                        <?php if($option['value']){?>
                        <option value = "<?=$option['value'];?>"><?php echo $option['label'];?></option>
                    <?php }}?> 
                </select>
            
        </div>
        <div class="col-md-2">
                <select id = "disciplins" name="Disciplins" class="search_select disciplin">
                <option selected="selected">Disciplines</option>
                    <?php foreach($disciplins as $option) {?>
                        <?php if($option['value']){?>
                        <option value = "<?=$option['value'];?>"><?php echo $option['label'];?></option>
                    <?php }}?> 
                </select>
            </p>
        </div>
        <div class="col-md-1">
            <button type="submit" class="search_smbt" id="save" ><i class="fa fa-search"></i></button>
        </div>
</div>
<script type="text/javascript"> 
    require(['jquery'],function($){ 
        $(document).ready(function(){
         $("#save").on('click',function(){
        var keyword=$("#keyword").val();
        var breed=$(".breed").find('option:selected').val();
        var city=$(".city").find('option:selected').val();
        var disciplin=$(".disciplin").find('option:selected').val();
        if(breed!='Breed'){
       
        var br = "breeds="+breed;
        }
        else{
        var br= "breeds=";
        }
        if(disciplin!='Disciplines'){
         var dis = "disciplins="+disciplin;
        }
        else{
         var dis= "disciplins=%20";
        }
        if(city!='City'){
         var cit = "city="+city;
        }
        else{
         var cit= "city=%20";
        }

        window.location.href="<?= $baseurl?>/catalogsearch/advanced/result/?"+br+"&"+cit+"&"+dis+"&name="+keyword;
        
         $("#hiddenkey").val(keyword);
        
           
    }); 
});
});  
   
</script>