<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseurl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

$breed = $block->getBreedList();
$city = $block->getCityList();
$disciplins = $block->getDisciplinsList();
?>       
        <div class="col-md-1">
            <button type="submit" class="search_smbt" id="save" ><i class="fa fa-search"></i></button>
        </div>
<script type="text/javascript"> 
    require(['jquery'],function($){ 
        $(document).ready(function(){
         $("#save").on('click',function(){
        var keyword=$("#keyword").val();
        var breed=$(".breed").find('option:selected').val();
        var city=$(".city").find('option:selected').val();
        var disciplin=$(".disciplin").find('option:selected').val();
        if(breed!='Breed'){
       
        var br = "breeds="+breed;
        }
        else{
        var br= "breeds=";
        }
        if(disciplin!='Disciplines'){
         var dis = "disciplins="+disciplin;
        }
        else{
         var dis= "disciplins=%20";
        }
        if(city!='City'){
         var cit = "city="+city;
        }
        else{
         var cit= "city=%20";
        }

        window.location.href="<?= $baseurl?>/catalogsearch/advanced/result/";
        
         $("#hiddenkey").val(keyword);
        
           
    }); 
});
});  
   
</script>