<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseurl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

$breed = $block->getBreedList();
$city = $block->getCityList();
$disciplins = $block->getDisciplinsList();
$breadcount=0;
$citycount=0;
$disciplinecount=0;
?>
<!-- echo $option['value']. '=>' .$option['label'];echo "<br />"; -->

<div class="row">
    <div class="col-12">
    <?php
    echo $this->getLayout()
    ->createBlock('Magento\Cms\Block\Block')
    ->setBlockId('catagory-heading')
    ->toHtml();
    ?> 
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-3 col-sm-6 col-12">
        <div class="link_box">
            <h2>Breeds</h2>
            <ul>
            <?php
                foreach($breed as $option) :?>
                <?php if($breadcount<6):?>
                    <li>
                        <a href="<?=$baseurl;?>horses.html?breeds=<?=$option['value'];?>"><?php echo $option['label'];?></a>
                    </li>
                <?php endif ;?>
                <?php $breadcount++;?>
                <?php endforeach?>
                <a href="<?=$baseurl;?>horses.html" class="all_links">All Breeds</a>
            </ul>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
        <div class="link_box">
            <h2>Disciplines</h2>
            <ul>
            <?php
                foreach($disciplins as $option):?>
                <?php if($disciplinecount<6):?>
                    <li>
                    <a href="<?=$baseurl;?>horses.html?disciplins=<?=$option['value'];?>"><?php echo $option['label'];?></a>
                    </li>
                    <?php endif ;?>
                <?php $disciplinecount++;?>
                <?php endforeach?>
                <a href="<?=$baseurl;?>horses.html" class="all_links">All Disciplines</a>
            </ul>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
        <div class="link_box">
            <h2>City</h2>
            <ul>
            <?php
                foreach($city as $option) :?>
                <?php if($citycount<6):?>
                    <li>
                    <a href="<?=$baseurl;?>horses.html?city=<?=$option['value'];?>"><?php echo $option['label'];?></a>
                    </li>
                    <?php endif ;?>
                <?php $citycount++;?>
                <?php endforeach?>
                <a href="<?=$baseurl;?>horses.html" class="all_links">All Cities</a>
            </ul>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
        <div class="link_box">
        <h2>Prices</h2>
        <ul>
            <li><a href="<?=$baseurl;?>horses.html?price=0-20">Under BHD20</a></li>
            <li><a href="<?=$baseurl;?>horses.html?price=20-50">BHD20 to BHD50</a></li>
            <li><a href="<?=$baseurl;?>horses.html?price=50-100">BHD50 to BHD100</a></li>
            <li><a href="<?=$baseurl;?>horses.html?price=100-150">BHD100 to BHD150</a></li>
            <li><a href="<?=$baseurl;?>horses.html?price=150-">Above BHD150</a></li>
        </ul>
        </div>
    </div>
    

</div>

