<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

    <div class="content minicart-items" data-role="content">
        
            <div class="recent_viewd_item">
                    <h2 class="mb-3">Order Summary</h2>
                <each args="items()">
                    <div class="row mt-2">
                        
                            <each args="$parent.elems()" render=""/>
                        
                    </div>
                </each>
            </div>
        
    </div>
    <div class="actions-toolbar" if="maxCartItemsToDisplay < getCartLineItemsCount()">
        <div class="secondary">
            <a class="action viewcart" data-bind="attr: {href: cartUrl}">
                <span data-bind="i18n: 'View and Edit Cart'"></span>
            </a>
        </div>
    </div>

